!pip install pyspark

In [1]:
import pyspark

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark=SparkSession.builder.appName('PySparkLesson').getOrCreate()

In [4]:
spark

In [5]:
df=spark.read.csv("train.csv")

In [6]:
df

DataFrame[_c0: string, _c1: string, _c2: string, _c3: string, _c4: string, _c5: string, _c6: string, _c7: string, _c8: string, _c9: string, _c10: string, _c11: string, _c12: string, _c13: string, _c14: string, _c15: string, _c16: string, _c17: string]

In [7]:
df.show(5)

+----------+---+------+----------+-----------+--------------+--------------+------------+--------+--------+-----------+--------------+-------------+-----------+-------------+-----------+-----------+-------+
|       _c0|_c1|   _c2|       _c3|        _c4|           _c5|           _c6|         _c7|     _c8|     _c9|       _c10|          _c11|         _c12|       _c13|         _c14|       _c15|       _c16|   _c17|
+----------+---+------+----------+-----------+--------------+--------------+------------+--------+--------+-----------+--------------+-------------+-----------+-------------+-----------+-----------+-------+
|    LoanID|Age|Income|LoanAmount|CreditScore|MonthsEmployed|NumCreditLines|InterestRate|LoanTerm|DTIRatio|  Education|EmploymentType|MaritalStatus|HasMortgage|HasDependents|LoanPurpose|HasCoSigner|Default|
|I38PQUQS96| 56| 85994|     50587|        520|            80|             4|       15.23|      36|    0.44| Bachelor's|     Full-time|     Divorced|        Yes|          Yes|      Other|        Yes|      0|
|HPSK72WA7R| 69| 50432|    124440|        458|            15|             1|        4.81|      60|    0.68|   Master's|     Full-time|      Married|         No|           No|      Other|        Yes|      0|
|C1OZ6DPJ8Y| 46| 84208|    129188|        451|            26|             3|       21.17|      24|    0.31|   Master's|    Unemployed|     Divorced|        Yes|          Yes|       Auto|         No|      1|
|V2KKSFM3UN| 32| 31713|     44799|        743|             0|             3|        7.07|      24|    0.23|High School|     Full-time|      Married|         No|           No|   Business|         No|      0|
+----------+---+------+----------+-----------+--------------+--------------+------------+--------+--------+-----------+--------------+-------------+-----------+-------------+-----------+-----------+-------+
only showing top 5 rows

sütun başlıklarını ayarlama

In [8]:
df=spark.read.option('header','true').csv('train.csv')

In [9]:
df.show()

+----------+---+------+----------+-----------+--------------+--------------+------------+--------+--------+-----------+--------------+-------------+-----------+-------------+-----------+-----------+-------+
|    LoanID|Age|Income|LoanAmount|CreditScore|MonthsEmployed|NumCreditLines|InterestRate|LoanTerm|DTIRatio|  Education|EmploymentType|MaritalStatus|HasMortgage|HasDependents|LoanPurpose|HasCoSigner|Default|
+----------+---+------+----------+-----------+--------------+--------------+------------+--------+--------+-----------+--------------+-------------+-----------+-------------+-----------+-----------+-------+
|I38PQUQS96| 56| 85994|     50587|        520|            80|             4|       15.23|      36|    0.44| Bachelor's|     Full-time|     Divorced|        Yes|          Yes|      Other|        Yes|      0|
|HPSK72WA7R| 69| 50432|    124440|        458|            15|             1|        4.81|      60|    0.68|   Master's|     Full-time|      Married|         No|           No|      Other|        Yes|      0|
|C1OZ6DPJ8Y| 46| 84208|    129188|        451|            26|             3|       21.17|      24|    0.31|   Master's|    Unemployed|     Divorced|        Yes|          Yes|       Auto|         No|      1|
|V2KKSFM3UN| 32| 31713|     44799|        743|             0|             3|        7.07|      24|    0.23|High School|     Full-time|      Married|         No|           No|   Business|         No|      0|
|EY08JDHTZP| 60| 20437|      9139|        633|             8|             4|        6.51|      48|    0.73| Bachelor's|    Unemployed|     Divorced|         No|          Yes|       Auto|         No|      0|
|A9S62RQ7US| 25| 90298|     90448|        720|            18|             2|       22.72|      24|     0.1|High School|    Unemployed|       Single|        Yes|           No|   Business|        Yes|      1|
|H8GXPAOS71| 38|111188|    177025|        429|            80|             1|       19.11|      12|    0.16| Bachelor's|    Unemployed|       Single|        Yes|           No|       Home|        Yes|      0|
|0HGZQKJ36W| 56|126802|    155511|        531|            67|             4|        8.15|      60|    0.43|        PhD|     Full-time|      Married|         No|           No|       Home|        Yes|      0|
|1R0N3LGNRJ| 36| 42053|     92357|        827|            83|             1|       23.94|      48|     0.2| Bachelor's| Self-employed|     Divorced|        Yes|           No|  Education|         No|      1|
|CM9L1GTT2P| 40|132784|    228510|        480|           114|             4|        9.09|      48|    0.33|High School| Self-employed|      Married|        Yes|           No|      Other|        Yes|      0|
|IA35XVH6ZO| 28|140466|    163781|        652|            94|             2|        9.08|      48|    0.23|High School|    Unemployed|      Married|         No|           No|  Education|         No|      0|
|Y8UETC3LSG| 28|149227|    139759|        375|            56|             3|        5.84|      36|     0.8|        PhD|     Full-time|     Divorced|         No|           No|  Education|        Yes|      1|
|RM6QSRHIYP| 41| 23265|     63527|        829|            87|             4|        9.73|      60|    0.45|   Master's|     Full-time|     Divorced|        Yes|           No|       Auto|        Yes|      0|
|GX5YQOGROM| 53|117550|     95744|        395|           112|             4|        3.58|      24|    0.73|High School|    Unemployed|       Single|         No|           No|       Auto|        Yes|      0|
|X0BVPZLDC0| 57|139699|     88143|        635|           112|             4|        5.63|      48|     0.2|   Master's|     Part-time|     Divorced|         No|           No|       Home|         No|      0|
|O5DM5MPPNA| 41| 74064|    230883|        432|            31|             2|         5.0|      60|    0.89|   Master's|    Unemployed|      Married|        Yes|           No|       Auto|         No|      0|
|ZDDRGVTEXS| 20|119704|     25697|        313|            49|             1|        9.63|      24|    0.28|        PhD|    Unemployed|       Single|        Yes|           No|       Home|         No|      0|
|9V0FJW7QPB| 39| 33015|     10889|        811|           106|             2|       13.56|      60|    0.66|   Master's| Self-employed|       Single|        Yes|           No|      Other|         No|      0|
|O1IKKLC69B| 19| 40718|     78515|        319|           119|             2|        14.0|      24|    0.17| Bachelor's| Self-employed|     Divorced|        Yes|           No|  Education|         No|      1|
|F7487UU2BF| 41|123419|    161146|        376|            65|             4|       16.96|      60|    0.39|High School| Self-employed|       Single|        Yes|           No|      Other|        Yes|      0|
+----------+---+------+----------+-----------+--------------+--------------+------------+--------+--------+-----------+--------------+-------------+-----------+-------------+-----------+-----------+-------+
only showing top 20 rows

In [10]:
type(df)

pyspark.sql.dataframe.DataFrame

In [11]:
df.head()

Row(LoanID='I38PQUQS96', Age='56', Income='85994', LoanAmount='50587', CreditScore='520', MonthsEmployed='80', NumCreditLines='4', InterestRate='15.23', LoanTerm='36', DTIRatio='0.44', Education="Bachelor's", EmploymentType='Full-time', MaritalStatus='Divorced', HasMortgage='Yes', HasDependents='Yes', LoanPurpose='Other', HasCoSigner='Yes', Default='0')

In [12]:
df.printSchema()

root
 |-- LoanID: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Income: string (nullable = true)
 |-- LoanAmount: string (nullable = true)
 |-- CreditScore: string (nullable = true)
 |-- MonthsEmployed: string (nullable = true)
 |-- NumCreditLines: string (nullable = true)
 |-- InterestRate: string (nullable = true)
 |-- LoanTerm: string (nullable = true)
 |-- DTIRatio: string (nullable = true)
 |-- Education: string (nullable = true)
 |-- EmploymentType: string (nullable = true)
 |-- MaritalStatus: string (nullable = true)
 |-- HasMortgage: string (nullable = true)
 |-- HasDependents: string (nullable = true)
 |-- LoanPurpose: string (nullable = true)
 |-- HasCoSigner: string (nullable = true)
 |-- Default: string (nullable = true)

In [13]:
#burdaki veri setinde tüm veri tipi string veri setinin orjinal veri tiipini almak için
# inferSchema=True ozelligini kullanacağız

In [14]:
df=spark.read.option("header","true").csv("train.csv", inferSchema=True)

### print schema ozeeliği pandas taki info() ozelligidir

In [15]:
df.printSchema()

root
 |-- LoanID: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Income: integer (nullable = true)
 |-- LoanAmount: integer (nullable = true)
 |-- CreditScore: integer (nullable = true)
 |-- MonthsEmployed: integer (nullable = true)
 |-- NumCreditLines: integer (nullable = true)
 |-- InterestRate: double (nullable = true)
 |-- LoanTerm: integer (nullable = true)
 |-- DTIRatio: double (nullable = true)
 |-- Education: string (nullable = true)
 |-- EmploymentType: string (nullable = true)
 |-- MaritalStatus: string (nullable = true)
 |-- HasMortgage: string (nullable = true)
 |-- HasDependents: string (nullable = true)
 |-- LoanPurpose: string (nullable = true)
 |-- HasCoSigner: string (nullable = true)
 |-- Default: integer (nullable = true)

In [16]:
df.show(5)

+----------+---+------+----------+-----------+--------------+--------------+------------+--------+--------+-----------+--------------+-------------+-----------+-------------+-----------+-----------+-------+
|    LoanID|Age|Income|LoanAmount|CreditScore|MonthsEmployed|NumCreditLines|InterestRate|LoanTerm|DTIRatio|  Education|EmploymentType|MaritalStatus|HasMortgage|HasDependents|LoanPurpose|HasCoSigner|Default|
+----------+---+------+----------+-----------+--------------+--------------+------------+--------+--------+-----------+--------------+-------------+-----------+-------------+-----------+-----------+-------+
|I38PQUQS96| 56| 85994|     50587|        520|            80|             4|       15.23|      36|    0.44| Bachelor's|     Full-time|     Divorced|        Yes|          Yes|      Other|        Yes|      0|
|HPSK72WA7R| 69| 50432|    124440|        458|            15|             1|        4.81|      60|    0.68|   Master's|     Full-time|      Married|         No|           No|      Other|        Yes|      0|
|C1OZ6DPJ8Y| 46| 84208|    129188|        451|            26|             3|       21.17|      24|    0.31|   Master's|    Unemployed|     Divorced|        Yes|          Yes|       Auto|         No|      1|
|V2KKSFM3UN| 32| 31713|     44799|        743|             0|             3|        7.07|      24|    0.23|High School|     Full-time|      Married|         No|           No|   Business|         No|      0|
|EY08JDHTZP| 60| 20437|      9139|        633|             8|             4|        6.51|      48|    0.73| Bachelor's|    Unemployed|     Divorced|         No|          Yes|       Auto|         No|      0|
+----------+---+------+----------+-----------+--------------+--------------+------------+--------+--------+-----------+--------------+-------------+-----------+-------------+-----------+-----------+-------+
only showing top 5 rows

###  ya da bu sekilde veriyi yukleyebiliriz

In [17]:
df=spark.read.csv("train.csv",header=True,inferSchema=True)
df.printSchema()

root
 |-- LoanID: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Income: integer (nullable = true)
 |-- LoanAmount: integer (nullable = true)
 |-- CreditScore: integer (nullable = true)
 |-- MonthsEmployed: integer (nullable = true)
 |-- NumCreditLines: integer (nullable = true)
 |-- InterestRate: double (nullable = true)
 |-- LoanTerm: integer (nullable = true)
 |-- DTIRatio: double (nullable = true)
 |-- Education: string (nullable = true)
 |-- EmploymentType: string (nullable = true)
 |-- MaritalStatus: string (nullable = true)
 |-- HasMortgage: string (nullable = true)
 |-- HasDependents: string (nullable = true)
 |-- LoanPurpose: string (nullable = true)
 |-- HasCoSigner: string (nullable = true)
 |-- Default: integer (nullable = true)

In [18]:
#geting column names
df.columns

['LoanID',
 'Age',
 'Income',
 'LoanAmount',
 'CreditScore',
 'MonthsEmployed',
 'NumCreditLines',
 'InterestRate',
 'LoanTerm',
 'DTIRatio',
 'Education',
 'EmploymentType',
 'MaritalStatus',
 'HasMortgage',
 'HasDependents',
 'LoanPurpose',
 'HasCoSigner',
 'Default']

In [19]:
df.head(3)

[Row(LoanID='I38PQUQS96', Age=56, Income=85994, LoanAmount=50587, CreditScore=520, MonthsEmployed=80, NumCreditLines=4, InterestRate=15.23, LoanTerm=36, DTIRatio=0.44, Education="Bachelor's", EmploymentType='Full-time', MaritalStatus='Divorced', HasMortgage='Yes', HasDependents='Yes', LoanPurpose='Other', HasCoSigner='Yes', Default=0),
 Row(LoanID='HPSK72WA7R', Age=69, Income=50432, LoanAmount=124440, CreditScore=458, MonthsEmployed=15, NumCreditLines=1, InterestRate=4.81, LoanTerm=60, DTIRatio=0.68, Education="Master's", EmploymentType='Full-time', MaritalStatus='Married', HasMortgage='No', HasDependents='No', LoanPurpose='Other', HasCoSigner='Yes', Default=0),
 Row(LoanID='C1OZ6DPJ8Y', Age=46, Income=84208, LoanAmount=129188, CreditScore=451, MonthsEmployed=26, NumCreditLines=3, InterestRate=21.17, LoanTerm=24, DTIRatio=0.31, Education="Master's", EmploymentType='Unemployed', MaritalStatus='Divorced', HasMortgage='Yes', HasDependents='Yes', LoanPurpose='Auto', HasCoSigner='No', Default=1)]

### belirli satır ve sutunları secmek

In [20]:
df.select('Education')

DataFrame[Education: string]

In [21]:
df.select('Education').show()

+-----------+
|  Education|
+-----------+
| Bachelor's|
|   Master's|
|   Master's|
|High School|
| Bachelor's|
|High School|
| Bachelor's|
|        PhD|
| Bachelor's|
|High School|
|High School|
|        PhD|
|   Master's|
|High School|
|   Master's|
|   Master's|
|        PhD|
|   Master's|
| Bachelor's|
|High School|
+-----------+
only showing top 20 rows

In [22]:
df.select(['Education','MaritalStatus']).show()

+-----------+-------------+
|  Education|MaritalStatus|
+-----------+-------------+
| Bachelor's|     Divorced|
|   Master's|      Married|
|   Master's|     Divorced|
|High School|      Married|
| Bachelor's|     Divorced|
|High School|       Single|
| Bachelor's|       Single|
|        PhD|      Married|
| Bachelor's|     Divorced|
|High School|      Married|
|High School|      Married|
|        PhD|     Divorced|
|   Master's|     Divorced|
|High School|       Single|
|   Master's|     Divorced|
|   Master's|      Married|
|        PhD|       Single|
|   Master's|       Single|
| Bachelor's|     Divorced|
|High School|       Single|
+-----------+-------------+
only showing top 20 rows

In [23]:
df.dtypes

[('LoanID', 'string'),
 ('Age', 'int'),
 ('Income', 'int'),
 ('LoanAmount', 'int'),
 ('CreditScore', 'int'),
 ('MonthsEmployed', 'int'),
 ('NumCreditLines', 'int'),
 ('InterestRate', 'double'),
 ('LoanTerm', 'int'),
 ('DTIRatio', 'double'),
 ('Education', 'string'),
 ('EmploymentType', 'string'),
 ('MaritalStatus', 'string'),
 ('HasMortgage', 'string'),
 ('HasDependents', 'string'),
 ('LoanPurpose', 'string'),
 ('HasCoSigner', 'string'),
 ('Default', 'int')]

In [24]:
df.describe()

DataFrame[summary: string, LoanID: string, Age: string, Income: string, LoanAmount: string, CreditScore: string, MonthsEmployed: string, NumCreditLines: string, InterestRate: string, LoanTerm: string, DTIRatio: string, Education: string, EmploymentType: string, MaritalStatus: string, HasMortgage: string, HasDependents: string, LoanPurpose: string, HasCoSigner: string, Default: string]

In [25]:
df.describe().show()

+-------+----------+------------------+-----------------+------------------+------------------+------------------+------------------+------------------+------------------+-------------------+----------+--------------+-------------+-----------+-------------+-----------+-----------+-------------------+
|summary|    LoanID|               Age|           Income|        LoanAmount|       CreditScore|    MonthsEmployed|    NumCreditLines|      InterestRate|          LoanTerm|           DTIRatio| Education|EmploymentType|MaritalStatus|HasMortgage|HasDependents|LoanPurpose|HasCoSigner|            Default|
+-------+----------+------------------+-----------------+------------------+------------------+------------------+------------------+------------------+------------------+-------------------+----------+--------------+-------------+-----------+-------------+-----------+-----------+-------------------+
|  count|    255347|            255347|           255347|            255347|            255347|            255347|            255347|            255347|            255347|             255347|    255347|        255347|       255347|     255347|       255347|     255347|     255347|             255347|
|   mean|      null|43.498306226429136|82499.30459727351|127578.86551242035| 574.2643461642392|59.541976212761455| 2.501035845339871|13.492773480792833| 36.02589417537703|   0.50021206436731|      null|          null|         null|       null|         null|       null|       null|0.11612824901017048|
| stddev|      null|  14.9902584187096|38963.01372937814| 70840.70614150073|158.90386659497537| 34.64337563735202|1.1170176714339608| 6.636443064944324|16.969330034462878|0.23091661543575903|      null|          null|         null|       null|         null|       null|       null| 0.3203792764304568|
|    min|0003HW9UAA|                18|            15000|              5000|               300|                 0|                 1|               2.0|                12|                0.1|Bachelor's|     Full-time|     Divorced|         No|           No|       Auto|         No|                  0|
|    max|ZZZX015LV2|                69|           149999|            249999|               849|               119|                 4|              25.0|                60|                0.9|       PhD|    Unemployed|       Single|        Yes|          Yes|      Other|        Yes|                  1|
+-------+----------+------------------+-----------------+------------------+------------------+------------------+------------------+------------------+------------------+-------------------+----------+--------------+-------------+-----------+-------------+-----------+-----------+-------------------+

In [26]:
add_col=df.withColumn("newcolumn",df['LoanAmount']/df['Income'])

In [27]:
add_col.select("newcolumn").show()

+-------------------+
|          newcolumn|
+-------------------+
|  0.588261971765472|
|  2.467480964467005|
|  1.534153524605738|
| 1.4126383502033866|
|0.44717913588100017|
| 1.0016611663602737|
| 1.5921232507105083|
|  1.226408100818599|
| 2.1962047891945877|
| 1.7209151705024701|
| 1.1659832272578416|
| 0.9365530366488638|
|  2.730582419944122|
| 0.8144959591663122|
| 0.6309493983493082|
|  3.117344458846403|
|0.21467118893270065|
|0.32981977888838404|
| 1.9282626848077018|
| 1.3056822693426458|
+-------------------+
only showing top 20 rows

In [28]:
add_col.select("newcolumn").head(5)

[Row(newcolumn=0.588261971765472),
 Row(newcolumn=2.467480964467005),
 Row(newcolumn=1.534153524605738),
 Row(newcolumn=1.4126383502033866),
 Row(newcolumn=0.44717913588100017)]

In [29]:
## drop coloumns

In [30]:
drop_col=add_col.drop("newcolumn")
drop_col.columns

['LoanID',
 'Age',
 'Income',
 'LoanAmount',
 'CreditScore',
 'MonthsEmployed',
 'NumCreditLines',
 'InterestRate',
 'LoanTerm',
 'DTIRatio',
 'Education',
 'EmploymentType',
 'MaritalStatus',
 'HasMortgage',
 'HasDependents',
 'LoanPurpose',
 'HasCoSigner',
 'Default']

In [31]:
#rename column

In [32]:
add_col=add_col.withColumnRenamed("newcolumn","loan/income")

In [33]:
add_col.select("loan/income").show(5)

+-------------------+
|        loan/income|
+-------------------+
|  0.588261971765472|
|  2.467480964467005|
|  1.534153524605738|
| 1.4126383502033866|
|0.44717913588100017|
+-------------------+
only showing top 5 rows

In [34]:
# drop na values

In [35]:
add_col.na.drop().show()

+----------+---+------+----------+-----------+--------------+--------------+------------+--------+--------+-----------+--------------+-------------+-----------+-------------+-----------+-----------+-------+-------------------+
|    LoanID|Age|Income|LoanAmount|CreditScore|MonthsEmployed|NumCreditLines|InterestRate|LoanTerm|DTIRatio|  Education|EmploymentType|MaritalStatus|HasMortgage|HasDependents|LoanPurpose|HasCoSigner|Default|        loan/income|
+----------+---+------+----------+-----------+--------------+--------------+------------+--------+--------+-----------+--------------+-------------+-----------+-------------+-----------+-----------+-------+-------------------+
|I38PQUQS96| 56| 85994|     50587|        520|            80|             4|       15.23|      36|    0.44| Bachelor's|     Full-time|     Divorced|        Yes|          Yes|      Other|        Yes|      0|  0.588261971765472|
|HPSK72WA7R| 69| 50432|    124440|        458|            15|             1|        4.81|      60|    0.68|   Master's|     Full-time|      Married|         No|           No|      Other|        Yes|      0|  2.467480964467005|
|C1OZ6DPJ8Y| 46| 84208|    129188|        451|            26|             3|       21.17|      24|    0.31|   Master's|    Unemployed|     Divorced|        Yes|          Yes|       Auto|         No|      1|  1.534153524605738|
|V2KKSFM3UN| 32| 31713|     44799|        743|             0|             3|        7.07|      24|    0.23|High School|     Full-time|      Married|         No|           No|   Business|         No|      0| 1.4126383502033866|
|EY08JDHTZP| 60| 20437|      9139|        633|             8|             4|        6.51|      48|    0.73| Bachelor's|    Unemployed|     Divorced|         No|          Yes|       Auto|         No|      0|0.44717913588100017|
|A9S62RQ7US| 25| 90298|     90448|        720|            18|             2|       22.72|      24|     0.1|High School|    Unemployed|       Single|        Yes|           No|   Business|        Yes|      1| 1.0016611663602737|
|H8GXPAOS71| 38|111188|    177025|        429|            80|             1|       19.11|      12|    0.16| Bachelor's|    Unemployed|       Single|        Yes|           No|       Home|        Yes|      0| 1.5921232507105083|
|0HGZQKJ36W| 56|126802|    155511|        531|            67|             4|        8.15|      60|    0.43|        PhD|     Full-time|      Married|         No|           No|       Home|        Yes|      0|  1.226408100818599|
|1R0N3LGNRJ| 36| 42053|     92357|        827|            83|             1|       23.94|      48|     0.2| Bachelor's| Self-employed|     Divorced|        Yes|           No|  Education|         No|      1| 2.1962047891945877|
|CM9L1GTT2P| 40|132784|    228510|        480|           114|             4|        9.09|      48|    0.33|High School| Self-employed|      Married|        Yes|           No|      Other|        Yes|      0| 1.7209151705024701|
|IA35XVH6ZO| 28|140466|    163781|        652|            94|             2|        9.08|      48|    0.23|High School|    Unemployed|      Married|         No|           No|  Education|         No|      0| 1.1659832272578416|
|Y8UETC3LSG| 28|149227|    139759|        375|            56|             3|        5.84|      36|     0.8|        PhD|     Full-time|     Divorced|         No|           No|  Education|        Yes|      1| 0.9365530366488638|
|RM6QSRHIYP| 41| 23265|     63527|        829|            87|             4|        9.73|      60|    0.45|   Master's|     Full-time|     Divorced|        Yes|           No|       Auto|        Yes|      0|  2.730582419944122|
|GX5YQOGROM| 53|117550|     95744|        395|           112|             4|        3.58|      24|    0.73|High School|    Unemployed|       Single|         No|           No|       Auto|        Yes|      0| 0.8144959591663122|
|X0BVPZLDC0| 57|139699|     88143|        635|           112|             4|        5.63|      48|     0.2|   Master's|     Part-time|     Divorced|         No|           No|       Home|         No|      0| 0.6309493983493082|
|O5DM5MPPNA| 41| 74064|    230883|        432|            31|             2|         5.0|      60|    0.89|   Master's|    Unemployed|      Married|        Yes|           No|       Auto|         No|      0|  3.117344458846403|
|ZDDRGVTEXS| 20|119704|     25697|        313|            49|             1|        9.63|      24|    0.28|        PhD|    Unemployed|       Single|        Yes|           No|       Home|         No|      0|0.21467118893270065|
|9V0FJW7QPB| 39| 33015|     10889|        811|           106|             2|       13.56|      60|    0.66|   Master's| Self-employed|       Single|        Yes|           No|      Other|         No|      0|0.32981977888838404|
|O1IKKLC69B| 19| 40718|     78515|        319|           119|             2|        14.0|      24|    0.17| Bachelor's| Self-employed|     Divorced|        Yes|           No|  Education|         No|      1| 1.9282626848077018|
|F7487UU2BF| 41|123419|    161146|        376|            65|             4|       16.96|      60|    0.39|High School| Self-employed|       Single|        Yes|           No|      Other|        Yes|      0| 1.3056822693426458|
+----------+---+------+----------+-----------+--------------+--------------+------------+--------+--------+-----------+--------------+-------------+-----------+-------------+-----------+-----------+-------+-------------------+
only showing top 20 rows

In [36]:
# satırda tek bir tane bile null deger olsa tum satırı siler
add_col.na.drop(how='any').show()

+----------+---+------+----------+-----------+--------------+--------------+------------+--------+--------+-----------+--------------+-------------+-----------+-------------+-----------+-----------+-------+-------------------+
|    LoanID|Age|Income|LoanAmount|CreditScore|MonthsEmployed|NumCreditLines|InterestRate|LoanTerm|DTIRatio|  Education|EmploymentType|MaritalStatus|HasMortgage|HasDependents|LoanPurpose|HasCoSigner|Default|        loan/income|
+----------+---+------+----------+-----------+--------------+--------------+------------+--------+--------+-----------+--------------+-------------+-----------+-------------+-----------+-----------+-------+-------------------+
|I38PQUQS96| 56| 85994|     50587|        520|            80|             4|       15.23|      36|    0.44| Bachelor's|     Full-time|     Divorced|        Yes|          Yes|      Other|        Yes|      0|  0.588261971765472|
|HPSK72WA7R| 69| 50432|    124440|        458|            15|             1|        4.81|      60|    0.68|   Master's|     Full-time|      Married|         No|           No|      Other|        Yes|      0|  2.467480964467005|
|C1OZ6DPJ8Y| 46| 84208|    129188|        451|            26|             3|       21.17|      24|    0.31|   Master's|    Unemployed|     Divorced|        Yes|          Yes|       Auto|         No|      1|  1.534153524605738|
|V2KKSFM3UN| 32| 31713|     44799|        743|             0|             3|        7.07|      24|    0.23|High School|     Full-time|      Married|         No|           No|   Business|         No|      0| 1.4126383502033866|
|EY08JDHTZP| 60| 20437|      9139|        633|             8|             4|        6.51|      48|    0.73| Bachelor's|    Unemployed|     Divorced|         No|          Yes|       Auto|         No|      0|0.44717913588100017|
|A9S62RQ7US| 25| 90298|     90448|        720|            18|             2|       22.72|      24|     0.1|High School|    Unemployed|       Single|        Yes|           No|   Business|        Yes|      1| 1.0016611663602737|
|H8GXPAOS71| 38|111188|    177025|        429|            80|             1|       19.11|      12|    0.16| Bachelor's|    Unemployed|       Single|        Yes|           No|       Home|        Yes|      0| 1.5921232507105083|
|0HGZQKJ36W| 56|126802|    155511|        531|            67|             4|        8.15|      60|    0.43|        PhD|     Full-time|      Married|         No|           No|       Home|        Yes|      0|  1.226408100818599|
|1R0N3LGNRJ| 36| 42053|     92357|        827|            83|             1|       23.94|      48|     0.2| Bachelor's| Self-employed|     Divorced|        Yes|           No|  Education|         No|      1| 2.1962047891945877|
|CM9L1GTT2P| 40|132784|    228510|        480|           114|             4|        9.09|      48|    0.33|High School| Self-employed|      Married|        Yes|           No|      Other|        Yes|      0| 1.7209151705024701|
|IA35XVH6ZO| 28|140466|    163781|        652|            94|             2|        9.08|      48|    0.23|High School|    Unemployed|      Married|         No|           No|  Education|         No|      0| 1.1659832272578416|
|Y8UETC3LSG| 28|149227|    139759|        375|            56|             3|        5.84|      36|     0.8|        PhD|     Full-time|     Divorced|         No|           No|  Education|        Yes|      1| 0.9365530366488638|
|RM6QSRHIYP| 41| 23265|     63527|        829|            87|             4|        9.73|      60|    0.45|   Master's|     Full-time|     Divorced|        Yes|           No|       Auto|        Yes|      0|  2.730582419944122|
|GX5YQOGROM| 53|117550|     95744|        395|           112|             4|        3.58|      24|    0.73|High School|    Unemployed|       Single|         No|           No|       Auto|        Yes|      0| 0.8144959591663122|
|X0BVPZLDC0| 57|139699|     88143|        635|           112|             4|        5.63|      48|     0.2|   Master's|     Part-time|     Divorced|         No|           No|       Home|         No|      0| 0.6309493983493082|
|O5DM5MPPNA| 41| 74064|    230883|        432|            31|             2|         5.0|      60|    0.89|   Master's|    Unemployed|      Married|        Yes|           No|       Auto|         No|      0|  3.117344458846403|
|ZDDRGVTEXS| 20|119704|     25697|        313|            49|             1|        9.63|      24|    0.28|        PhD|    Unemployed|       Single|        Yes|           No|       Home|         No|      0|0.21467118893270065|
|9V0FJW7QPB| 39| 33015|     10889|        811|           106|             2|       13.56|      60|    0.66|   Master's| Self-employed|       Single|        Yes|           No|      Other|         No|      0|0.32981977888838404|
|O1IKKLC69B| 19| 40718|     78515|        319|           119|             2|        14.0|      24|    0.17| Bachelor's| Self-employed|     Divorced|        Yes|           No|  Education|         No|      1| 1.9282626848077018|
|F7487UU2BF| 41|123419|    161146|        376|            65|             4|       16.96|      60|    0.39|High School| Self-employed|       Single|        Yes|           No|      Other|        Yes|      0| 1.3056822693426458|
+----------+---+------+----------+-----------+--------------+--------------+------------+--------+--------+-----------+--------------+-------------+-----------+-------------+-----------+-----------+-------+-------------------+
only showing top 20 rows

In [37]:
#eger tum satır null degerlerden olusuyorsa o satırı kaldırırı
# eger o satırda tek bir tane bile null olmayan deger varsa o satır kaldırılmaz
add_col.na.drop(how='all').show()

+----------+---+------+----------+-----------+--------------+--------------+------------+--------+--------+-----------+--------------+-------------+-----------+-------------+-----------+-----------+-------+-------------------+
|    LoanID|Age|Income|LoanAmount|CreditScore|MonthsEmployed|NumCreditLines|InterestRate|LoanTerm|DTIRatio|  Education|EmploymentType|MaritalStatus|HasMortgage|HasDependents|LoanPurpose|HasCoSigner|Default|        loan/income|
+----------+---+------+----------+-----------+--------------+--------------+------------+--------+--------+-----------+--------------+-------------+-----------+-------------+-----------+-----------+-------+-------------------+
|I38PQUQS96| 56| 85994|     50587|        520|            80|             4|       15.23|      36|    0.44| Bachelor's|     Full-time|     Divorced|        Yes|          Yes|      Other|        Yes|      0|  0.588261971765472|
|HPSK72WA7R| 69| 50432|    124440|        458|            15|             1|        4.81|      60|    0.68|   Master's|     Full-time|      Married|         No|           No|      Other|        Yes|      0|  2.467480964467005|
|C1OZ6DPJ8Y| 46| 84208|    129188|        451|            26|             3|       21.17|      24|    0.31|   Master's|    Unemployed|     Divorced|        Yes|          Yes|       Auto|         No|      1|  1.534153524605738|
|V2KKSFM3UN| 32| 31713|     44799|        743|             0|             3|        7.07|      24|    0.23|High School|     Full-time|      Married|         No|           No|   Business|         No|      0| 1.4126383502033866|
|EY08JDHTZP| 60| 20437|      9139|        633|             8|             4|        6.51|      48|    0.73| Bachelor's|    Unemployed|     Divorced|         No|          Yes|       Auto|         No|      0|0.44717913588100017|
|A9S62RQ7US| 25| 90298|     90448|        720|            18|             2|       22.72|      24|     0.1|High School|    Unemployed|       Single|        Yes|           No|   Business|        Yes|      1| 1.0016611663602737|
|H8GXPAOS71| 38|111188|    177025|        429|            80|             1|       19.11|      12|    0.16| Bachelor's|    Unemployed|       Single|        Yes|           No|       Home|        Yes|      0| 1.5921232507105083|
|0HGZQKJ36W| 56|126802|    155511|        531|            67|             4|        8.15|      60|    0.43|        PhD|     Full-time|      Married|         No|           No|       Home|        Yes|      0|  1.226408100818599|
|1R0N3LGNRJ| 36| 42053|     92357|        827|            83|             1|       23.94|      48|     0.2| Bachelor's| Self-employed|     Divorced|        Yes|           No|  Education|         No|      1| 2.1962047891945877|
|CM9L1GTT2P| 40|132784|    228510|        480|           114|             4|        9.09|      48|    0.33|High School| Self-employed|      Married|        Yes|           No|      Other|        Yes|      0| 1.7209151705024701|
|IA35XVH6ZO| 28|140466|    163781|        652|            94|             2|        9.08|      48|    0.23|High School|    Unemployed|      Married|         No|           No|  Education|         No|      0| 1.1659832272578416|
|Y8UETC3LSG| 28|149227|    139759|        375|            56|             3|        5.84|      36|     0.8|        PhD|     Full-time|     Divorced|         No|           No|  Education|        Yes|      1| 0.9365530366488638|
|RM6QSRHIYP| 41| 23265|     63527|        829|            87|             4|        9.73|      60|    0.45|   Master's|     Full-time|     Divorced|        Yes|           No|       Auto|        Yes|      0|  2.730582419944122|
|GX5YQOGROM| 53|117550|     95744|        395|           112|             4|        3.58|      24|    0.73|High School|    Unemployed|       Single|         No|           No|       Auto|        Yes|      0| 0.8144959591663122|
|X0BVPZLDC0| 57|139699|     88143|        635|           112|             4|        5.63|      48|     0.2|   Master's|     Part-time|     Divorced|         No|           No|       Home|         No|      0| 0.6309493983493082|
|O5DM5MPPNA| 41| 74064|    230883|        432|            31|             2|         5.0|      60|    0.89|   Master's|    Unemployed|      Married|        Yes|           No|       Auto|         No|      0|  3.117344458846403|
|ZDDRGVTEXS| 20|119704|     25697|        313|            49|             1|        9.63|      24|    0.28|        PhD|    Unemployed|       Single|        Yes|           No|       Home|         No|      0|0.21467118893270065|
|9V0FJW7QPB| 39| 33015|     10889|        811|           106|             2|       13.56|      60|    0.66|   Master's| Self-employed|       Single|        Yes|           No|      Other|         No|      0|0.32981977888838404|
|O1IKKLC69B| 19| 40718|     78515|        319|           119|             2|        14.0|      24|    0.17| Bachelor's| Self-employed|     Divorced|        Yes|           No|  Education|         No|      1| 1.9282626848077018|
|F7487UU2BF| 41|123419|    161146|        376|            65|             4|       16.96|      60|    0.39|High School| Self-employed|       Single|        Yes|           No|      Other|        Yes|      0| 1.3056822693426458|
+----------+---+------+----------+-----------+--------------+--------------+------------+--------+--------+-----------+--------------+-------------+-----------+-------------+-----------+-----------+-------+-------------------+
only showing top 20 rows

In [38]:
#bir satırda en az 2 tane null olmayan deger olması lazım diyoruz
#eger 2 den az null olmayan deger varsa o satır silinir
add_col.na.drop(thresh=2).show()

+----------+---+------+----------+-----------+--------------+--------------+------------+--------+--------+-----------+--------------+-------------+-----------+-------------+-----------+-----------+-------+-------------------+
|    LoanID|Age|Income|LoanAmount|CreditScore|MonthsEmployed|NumCreditLines|InterestRate|LoanTerm|DTIRatio|  Education|EmploymentType|MaritalStatus|HasMortgage|HasDependents|LoanPurpose|HasCoSigner|Default|        loan/income|
+----------+---+------+----------+-----------+--------------+--------------+------------+--------+--------+-----------+--------------+-------------+-----------+-------------+-----------+-----------+-------+-------------------+
|I38PQUQS96| 56| 85994|     50587|        520|            80|             4|       15.23|      36|    0.44| Bachelor's|     Full-time|     Divorced|        Yes|          Yes|      Other|        Yes|      0|  0.588261971765472|
|HPSK72WA7R| 69| 50432|    124440|        458|            15|             1|        4.81|      60|    0.68|   Master's|     Full-time|      Married|         No|           No|      Other|        Yes|      0|  2.467480964467005|
|C1OZ6DPJ8Y| 46| 84208|    129188|        451|            26|             3|       21.17|      24|    0.31|   Master's|    Unemployed|     Divorced|        Yes|          Yes|       Auto|         No|      1|  1.534153524605738|
|V2KKSFM3UN| 32| 31713|     44799|        743|             0|             3|        7.07|      24|    0.23|High School|     Full-time|      Married|         No|           No|   Business|         No|      0| 1.4126383502033866|
|EY08JDHTZP| 60| 20437|      9139|        633|             8|             4|        6.51|      48|    0.73| Bachelor's|    Unemployed|     Divorced|         No|          Yes|       Auto|         No|      0|0.44717913588100017|
|A9S62RQ7US| 25| 90298|     90448|        720|            18|             2|       22.72|      24|     0.1|High School|    Unemployed|       Single|        Yes|           No|   Business|        Yes|      1| 1.0016611663602737|
|H8GXPAOS71| 38|111188|    177025|        429|            80|             1|       19.11|      12|    0.16| Bachelor's|    Unemployed|       Single|        Yes|           No|       Home|        Yes|      0| 1.5921232507105083|
|0HGZQKJ36W| 56|126802|    155511|        531|            67|             4|        8.15|      60|    0.43|        PhD|     Full-time|      Married|         No|           No|       Home|        Yes|      0|  1.226408100818599|
|1R0N3LGNRJ| 36| 42053|     92357|        827|            83|             1|       23.94|      48|     0.2| Bachelor's| Self-employed|     Divorced|        Yes|           No|  Education|         No|      1| 2.1962047891945877|
|CM9L1GTT2P| 40|132784|    228510|        480|           114|             4|        9.09|      48|    0.33|High School| Self-employed|      Married|        Yes|           No|      Other|        Yes|      0| 1.7209151705024701|
|IA35XVH6ZO| 28|140466|    163781|        652|            94|             2|        9.08|      48|    0.23|High School|    Unemployed|      Married|         No|           No|  Education|         No|      0| 1.1659832272578416|
|Y8UETC3LSG| 28|149227|    139759|        375|            56|             3|        5.84|      36|     0.8|        PhD|     Full-time|     Divorced|         No|           No|  Education|        Yes|      1| 0.9365530366488638|
|RM6QSRHIYP| 41| 23265|     63527|        829|            87|             4|        9.73|      60|    0.45|   Master's|     Full-time|     Divorced|        Yes|           No|       Auto|        Yes|      0|  2.730582419944122|
|GX5YQOGROM| 53|117550|     95744|        395|           112|             4|        3.58|      24|    0.73|High School|    Unemployed|       Single|         No|           No|       Auto|        Yes|      0| 0.8144959591663122|
|X0BVPZLDC0| 57|139699|     88143|        635|           112|             4|        5.63|      48|     0.2|   Master's|     Part-time|     Divorced|         No|           No|       Home|         No|      0| 0.6309493983493082|
|O5DM5MPPNA| 41| 74064|    230883|        432|            31|             2|         5.0|      60|    0.89|   Master's|    Unemployed|      Married|        Yes|           No|       Auto|         No|      0|  3.117344458846403|
|ZDDRGVTEXS| 20|119704|     25697|        313|            49|             1|        9.63|      24|    0.28|        PhD|    Unemployed|       Single|        Yes|           No|       Home|         No|      0|0.21467118893270065|
|9V0FJW7QPB| 39| 33015|     10889|        811|           106|             2|       13.56|      60|    0.66|   Master's| Self-employed|       Single|        Yes|           No|      Other|         No|      0|0.32981977888838404|
|O1IKKLC69B| 19| 40718|     78515|        319|           119|             2|        14.0|      24|    0.17| Bachelor's| Self-employed|     Divorced|        Yes|           No|  Education|         No|      1| 1.9282626848077018|
|F7487UU2BF| 41|123419|    161146|        376|            65|             4|       16.96|      60|    0.39|High School| Self-employed|       Single|        Yes|           No|      Other|        Yes|      0| 1.3056822693426458|
+----------+---+------+----------+-----------+--------------+--------------+------------+--------+--------+-----------+--------------+-------------+-----------+-------------+-----------+-----------+-------+-------------------+
only showing top 20 rows

In [39]:
# income sütununda null deger varsa o degerin denk geldiği satır kaldırılır
add_col.na.drop(subset=["income"]).show()

+----------+---+------+----------+-----------+--------------+--------------+------------+--------+--------+-----------+--------------+-------------+-----------+-------------+-----------+-----------+-------+-------------------+
|    LoanID|Age|Income|LoanAmount|CreditScore|MonthsEmployed|NumCreditLines|InterestRate|LoanTerm|DTIRatio|  Education|EmploymentType|MaritalStatus|HasMortgage|HasDependents|LoanPurpose|HasCoSigner|Default|        loan/income|
+----------+---+------+----------+-----------+--------------+--------------+------------+--------+--------+-----------+--------------+-------------+-----------+-------------+-----------+-----------+-------+-------------------+
|I38PQUQS96| 56| 85994|     50587|        520|            80|             4|       15.23|      36|    0.44| Bachelor's|     Full-time|     Divorced|        Yes|          Yes|      Other|        Yes|      0|  0.588261971765472|
|HPSK72WA7R| 69| 50432|    124440|        458|            15|             1|        4.81|      60|    0.68|   Master's|     Full-time|      Married|         No|           No|      Other|        Yes|      0|  2.467480964467005|
|C1OZ6DPJ8Y| 46| 84208|    129188|        451|            26|             3|       21.17|      24|    0.31|   Master's|    Unemployed|     Divorced|        Yes|          Yes|       Auto|         No|      1|  1.534153524605738|
|V2KKSFM3UN| 32| 31713|     44799|        743|             0|             3|        7.07|      24|    0.23|High School|     Full-time|      Married|         No|           No|   Business|         No|      0| 1.4126383502033866|
|EY08JDHTZP| 60| 20437|      9139|        633|             8|             4|        6.51|      48|    0.73| Bachelor's|    Unemployed|     Divorced|         No|          Yes|       Auto|         No|      0|0.44717913588100017|
|A9S62RQ7US| 25| 90298|     90448|        720|            18|             2|       22.72|      24|     0.1|High School|    Unemployed|       Single|        Yes|           No|   Business|        Yes|      1| 1.0016611663602737|
|H8GXPAOS71| 38|111188|    177025|        429|            80|             1|       19.11|      12|    0.16| Bachelor's|    Unemployed|       Single|        Yes|           No|       Home|        Yes|      0| 1.5921232507105083|
|0HGZQKJ36W| 56|126802|    155511|        531|            67|             4|        8.15|      60|    0.43|        PhD|     Full-time|      Married|         No|           No|       Home|        Yes|      0|  1.226408100818599|
|1R0N3LGNRJ| 36| 42053|     92357|        827|            83|             1|       23.94|      48|     0.2| Bachelor's| Self-employed|     Divorced|        Yes|           No|  Education|         No|      1| 2.1962047891945877|
|CM9L1GTT2P| 40|132784|    228510|        480|           114|             4|        9.09|      48|    0.33|High School| Self-employed|      Married|        Yes|           No|      Other|        Yes|      0| 1.7209151705024701|
|IA35XVH6ZO| 28|140466|    163781|        652|            94|             2|        9.08|      48|    0.23|High School|    Unemployed|      Married|         No|           No|  Education|         No|      0| 1.1659832272578416|
|Y8UETC3LSG| 28|149227|    139759|        375|            56|             3|        5.84|      36|     0.8|        PhD|     Full-time|     Divorced|         No|           No|  Education|        Yes|      1| 0.9365530366488638|
|RM6QSRHIYP| 41| 23265|     63527|        829|            87|             4|        9.73|      60|    0.45|   Master's|     Full-time|     Divorced|        Yes|           No|       Auto|        Yes|      0|  2.730582419944122|
|GX5YQOGROM| 53|117550|     95744|        395|           112|             4|        3.58|      24|    0.73|High School|    Unemployed|       Single|         No|           No|       Auto|        Yes|      0| 0.8144959591663122|
|X0BVPZLDC0| 57|139699|     88143|        635|           112|             4|        5.63|      48|     0.2|   Master's|     Part-time|     Divorced|         No|           No|       Home|         No|      0| 0.6309493983493082|
|O5DM5MPPNA| 41| 74064|    230883|        432|            31|             2|         5.0|      60|    0.89|   Master's|    Unemployed|      Married|        Yes|           No|       Auto|         No|      0|  3.117344458846403|
|ZDDRGVTEXS| 20|119704|     25697|        313|            49|             1|        9.63|      24|    0.28|        PhD|    Unemployed|       Single|        Yes|           No|       Home|         No|      0|0.21467118893270065|
|9V0FJW7QPB| 39| 33015|     10889|        811|           106|             2|       13.56|      60|    0.66|   Master's| Self-employed|       Single|        Yes|           No|      Other|         No|      0|0.32981977888838404|
|O1IKKLC69B| 19| 40718|     78515|        319|           119|             2|        14.0|      24|    0.17| Bachelor's| Self-employed|     Divorced|        Yes|           No|  Education|         No|      1| 1.9282626848077018|
|F7487UU2BF| 41|123419|    161146|        376|            65|             4|       16.96|      60|    0.39|High School| Self-employed|       Single|        Yes|           No|      Other|        Yes|      0| 1.3056822693426458|
+----------+---+------+----------+-----------+--------------+--------------+------------+--------+--------+-----------+--------------+-------------+-----------+-------------+-----------+-----------+-------+-------------------+
only showing top 20 rows

In [40]:
##fil missing value

In [41]:
add_col.na.fill("nan").show()

+----------+---+------+----------+-----------+--------------+--------------+------------+--------+--------+-----------+--------------+-------------+-----------+-------------+-----------+-----------+-------+-------------------+
|    LoanID|Age|Income|LoanAmount|CreditScore|MonthsEmployed|NumCreditLines|InterestRate|LoanTerm|DTIRatio|  Education|EmploymentType|MaritalStatus|HasMortgage|HasDependents|LoanPurpose|HasCoSigner|Default|        loan/income|
+----------+---+------+----------+-----------+--------------+--------------+------------+--------+--------+-----------+--------------+-------------+-----------+-------------+-----------+-----------+-------+-------------------+
|I38PQUQS96| 56| 85994|     50587|        520|            80|             4|       15.23|      36|    0.44| Bachelor's|     Full-time|     Divorced|        Yes|          Yes|      Other|        Yes|      0|  0.588261971765472|
|HPSK72WA7R| 69| 50432|    124440|        458|            15|             1|        4.81|      60|    0.68|   Master's|     Full-time|      Married|         No|           No|      Other|        Yes|      0|  2.467480964467005|
|C1OZ6DPJ8Y| 46| 84208|    129188|        451|            26|             3|       21.17|      24|    0.31|   Master's|    Unemployed|     Divorced|        Yes|          Yes|       Auto|         No|      1|  1.534153524605738|
|V2KKSFM3UN| 32| 31713|     44799|        743|             0|             3|        7.07|      24|    0.23|High School|     Full-time|      Married|         No|           No|   Business|         No|      0| 1.4126383502033866|
|EY08JDHTZP| 60| 20437|      9139|        633|             8|             4|        6.51|      48|    0.73| Bachelor's|    Unemployed|     Divorced|         No|          Yes|       Auto|         No|      0|0.44717913588100017|
|A9S62RQ7US| 25| 90298|     90448|        720|            18|             2|       22.72|      24|     0.1|High School|    Unemployed|       Single|        Yes|           No|   Business|        Yes|      1| 1.0016611663602737|
|H8GXPAOS71| 38|111188|    177025|        429|            80|             1|       19.11|      12|    0.16| Bachelor's|    Unemployed|       Single|        Yes|           No|       Home|        Yes|      0| 1.5921232507105083|
|0HGZQKJ36W| 56|126802|    155511|        531|            67|             4|        8.15|      60|    0.43|        PhD|     Full-time|      Married|         No|           No|       Home|        Yes|      0|  1.226408100818599|
|1R0N3LGNRJ| 36| 42053|     92357|        827|            83|             1|       23.94|      48|     0.2| Bachelor's| Self-employed|     Divorced|        Yes|           No|  Education|         No|      1| 2.1962047891945877|
|CM9L1GTT2P| 40|132784|    228510|        480|           114|             4|        9.09|      48|    0.33|High School| Self-employed|      Married|        Yes|           No|      Other|        Yes|      0| 1.7209151705024701|
|IA35XVH6ZO| 28|140466|    163781|        652|            94|             2|        9.08|      48|    0.23|High School|    Unemployed|      Married|         No|           No|  Education|         No|      0| 1.1659832272578416|
|Y8UETC3LSG| 28|149227|    139759|        375|            56|             3|        5.84|      36|     0.8|        PhD|     Full-time|     Divorced|         No|           No|  Education|        Yes|      1| 0.9365530366488638|
|RM6QSRHIYP| 41| 23265|     63527|        829|            87|             4|        9.73|      60|    0.45|   Master's|     Full-time|     Divorced|        Yes|           No|       Auto|        Yes|      0|  2.730582419944122|
|GX5YQOGROM| 53|117550|     95744|        395|           112|             4|        3.58|      24|    0.73|High School|    Unemployed|       Single|         No|           No|       Auto|        Yes|      0| 0.8144959591663122|
|X0BVPZLDC0| 57|139699|     88143|        635|           112|             4|        5.63|      48|     0.2|   Master's|     Part-time|     Divorced|         No|           No|       Home|         No|      0| 0.6309493983493082|
|O5DM5MPPNA| 41| 74064|    230883|        432|            31|             2|         5.0|      60|    0.89|   Master's|    Unemployed|      Married|        Yes|           No|       Auto|         No|      0|  3.117344458846403|
|ZDDRGVTEXS| 20|119704|     25697|        313|            49|             1|        9.63|      24|    0.28|        PhD|    Unemployed|       Single|        Yes|           No|       Home|         No|      0|0.21467118893270065|
|9V0FJW7QPB| 39| 33015|     10889|        811|           106|             2|       13.56|      60|    0.66|   Master's| Self-employed|       Single|        Yes|           No|      Other|         No|      0|0.32981977888838404|
|O1IKKLC69B| 19| 40718|     78515|        319|           119|             2|        14.0|      24|    0.17| Bachelor's| Self-employed|     Divorced|        Yes|           No|  Education|         No|      1| 1.9282626848077018|
|F7487UU2BF| 41|123419|    161146|        376|            65|             4|       16.96|      60|    0.39|High School| Self-employed|       Single|        Yes|           No|      Other|        Yes|      0| 1.3056822693426458|
+----------+---+------+----------+-----------+--------------+--------------+------------+--------+--------+-----------+--------------+-------------+-----------+-------------+-----------+-----------+-------+-------------------+
only showing top 20 rows

In [42]:
# belirli sutunlara bunu uygulamak
add_col.na.fill("nan",["income","LoanID"]).show()

+----------+---+------+----------+-----------+--------------+--------------+------------+--------+--------+-----------+--------------+-------------+-----------+-------------+-----------+-----------+-------+-------------------+
|    LoanID|Age|Income|LoanAmount|CreditScore|MonthsEmployed|NumCreditLines|InterestRate|LoanTerm|DTIRatio|  Education|EmploymentType|MaritalStatus|HasMortgage|HasDependents|LoanPurpose|HasCoSigner|Default|        loan/income|
+----------+---+------+----------+-----------+--------------+--------------+------------+--------+--------+-----------+--------------+-------------+-----------+-------------+-----------+-----------+-------+-------------------+
|I38PQUQS96| 56| 85994|     50587|        520|            80|             4|       15.23|      36|    0.44| Bachelor's|     Full-time|     Divorced|        Yes|          Yes|      Other|        Yes|      0|  0.588261971765472|
|HPSK72WA7R| 69| 50432|    124440|        458|            15|             1|        4.81|      60|    0.68|   Master's|     Full-time|      Married|         No|           No|      Other|        Yes|      0|  2.467480964467005|
|C1OZ6DPJ8Y| 46| 84208|    129188|        451|            26|             3|       21.17|      24|    0.31|   Master's|    Unemployed|     Divorced|        Yes|          Yes|       Auto|         No|      1|  1.534153524605738|
|V2KKSFM3UN| 32| 31713|     44799|        743|             0|             3|        7.07|      24|    0.23|High School|     Full-time|      Married|         No|           No|   Business|         No|      0| 1.4126383502033866|
|EY08JDHTZP| 60| 20437|      9139|        633|             8|             4|        6.51|      48|    0.73| Bachelor's|    Unemployed|     Divorced|         No|          Yes|       Auto|         No|      0|0.44717913588100017|
|A9S62RQ7US| 25| 90298|     90448|        720|            18|             2|       22.72|      24|     0.1|High School|    Unemployed|       Single|        Yes|           No|   Business|        Yes|      1| 1.0016611663602737|
|H8GXPAOS71| 38|111188|    177025|        429|            80|             1|       19.11|      12|    0.16| Bachelor's|    Unemployed|       Single|        Yes|           No|       Home|        Yes|      0| 1.5921232507105083|
|0HGZQKJ36W| 56|126802|    155511|        531|            67|             4|        8.15|      60|    0.43|        PhD|     Full-time|      Married|         No|           No|       Home|        Yes|      0|  1.226408100818599|
|1R0N3LGNRJ| 36| 42053|     92357|        827|            83|             1|       23.94|      48|     0.2| Bachelor's| Self-employed|     Divorced|        Yes|           No|  Education|         No|      1| 2.1962047891945877|
|CM9L1GTT2P| 40|132784|    228510|        480|           114|             4|        9.09|      48|    0.33|High School| Self-employed|      Married|        Yes|           No|      Other|        Yes|      0| 1.7209151705024701|
|IA35XVH6ZO| 28|140466|    163781|        652|            94|             2|        9.08|      48|    0.23|High School|    Unemployed|      Married|         No|           No|  Education|         No|      0| 1.1659832272578416|
|Y8UETC3LSG| 28|149227|    139759|        375|            56|             3|        5.84|      36|     0.8|        PhD|     Full-time|     Divorced|         No|           No|  Education|        Yes|      1| 0.9365530366488638|
|RM6QSRHIYP| 41| 23265|     63527|        829|            87|             4|        9.73|      60|    0.45|   Master's|     Full-time|     Divorced|        Yes|           No|       Auto|        Yes|      0|  2.730582419944122|
|GX5YQOGROM| 53|117550|     95744|        395|           112|             4|        3.58|      24|    0.73|High School|    Unemployed|       Single|         No|           No|       Auto|        Yes|      0| 0.8144959591663122|
|X0BVPZLDC0| 57|139699|     88143|        635|           112|             4|        5.63|      48|     0.2|   Master's|     Part-time|     Divorced|         No|           No|       Home|         No|      0| 0.6309493983493082|
|O5DM5MPPNA| 41| 74064|    230883|        432|            31|             2|         5.0|      60|    0.89|   Master's|    Unemployed|      Married|        Yes|           No|       Auto|         No|      0|  3.117344458846403|
|ZDDRGVTEXS| 20|119704|     25697|        313|            49|             1|        9.63|      24|    0.28|        PhD|    Unemployed|       Single|        Yes|           No|       Home|         No|      0|0.21467118893270065|
|9V0FJW7QPB| 39| 33015|     10889|        811|           106|             2|       13.56|      60|    0.66|   Master's| Self-employed|       Single|        Yes|           No|      Other|         No|      0|0.32981977888838404|
|O1IKKLC69B| 19| 40718|     78515|        319|           119|             2|        14.0|      24|    0.17| Bachelor's| Self-employed|     Divorced|        Yes|           No|  Education|         No|      1| 1.9282626848077018|
|F7487UU2BF| 41|123419|    161146|        376|            65|             4|       16.96|      60|    0.39|High School| Self-employed|       Single|        Yes|           No|      Other|        Yes|      0| 1.3056822693426458|
+----------+---+------+----------+-----------+--------------+--------------+------------+--------+--------+-----------+--------------+-------------+-----------+-------------+-----------+-----------+-------+-------------------+
only showing top 20 rows

In [44]:
#fill na with mean median etc.

In [45]:
from pyspark.ml.feature import Imputer

In [46]:
imputer= Imputer(
    inputCols=["Income","LoanAmount"],
    outputCols=["{}_imputed".format(c) for c in ["Income","LoanAmount"]]
).setStrategy("mean") #median

In [47]:
imputer.fit(add_col).transform(add_col).show(3)

+----------+---+------+----------+-----------+--------------+--------------+------------+--------+--------+----------+--------------+-------------+-----------+-------------+-----------+-----------+-------+-----------------+--------------+------------------+
|    LoanID|Age|Income|LoanAmount|CreditScore|MonthsEmployed|NumCreditLines|InterestRate|LoanTerm|DTIRatio| Education|EmploymentType|MaritalStatus|HasMortgage|HasDependents|LoanPurpose|HasCoSigner|Default|      loan/income|Income_imputed|LoanAmount_imputed|
+----------+---+------+----------+-----------+--------------+--------------+------------+--------+--------+----------+--------------+-------------+-----------+-------------+-----------+-----------+-------+-----------------+--------------+------------------+
|I38PQUQS96| 56| 85994|     50587|        520|            80|             4|       15.23|      36|    0.44|Bachelor's|     Full-time|     Divorced|        Yes|          Yes|      Other|        Yes|      0|0.588261971765472|         85994|             50587|
|HPSK72WA7R| 69| 50432|    124440|        458|            15|             1|        4.81|      60|    0.68|  Master's|     Full-time|      Married|         No|           No|      Other|        Yes|      0|2.467480964467005|         50432|            124440|
|C1OZ6DPJ8Y| 46| 84208|    129188|        451|            26|             3|       21.17|      24|    0.31|  Master's|    Unemployed|     Divorced|        Yes|          Yes|       Auto|         No|      1|1.534153524605738|         84208|            129188|
+----------+---+------+----------+-----------+--------------+--------------+------------+--------+--------+----------+--------------+-------------+-----------+-------------+-----------+-----------+-------+-----------------+--------------+------------------+
only showing top 3 rows

# Filter OPerations

In [48]:
#geliri 20000 den yuksek olanlar

In [49]:
add_col.filter("Income>=130000").show()

+----------+---+------+----------+-----------+--------------+--------------+------------+--------+--------+-----------+--------------+-------------+-----------+-------------+-----------+-----------+-------+-------------------+
|    LoanID|Age|Income|LoanAmount|CreditScore|MonthsEmployed|NumCreditLines|InterestRate|LoanTerm|DTIRatio|  Education|EmploymentType|MaritalStatus|HasMortgage|HasDependents|LoanPurpose|HasCoSigner|Default|        loan/income|
+----------+---+------+----------+-----------+--------------+--------------+------------+--------+--------+-----------+--------------+-------------+-----------+-------------+-----------+-----------+-------+-------------------+
|CM9L1GTT2P| 40|132784|    228510|        480|           114|             4|        9.09|      48|    0.33|High School| Self-employed|      Married|        Yes|           No|      Other|        Yes|      0| 1.7209151705024701|
|IA35XVH6ZO| 28|140466|    163781|        652|            94|             2|        9.08|      48|    0.23|High School|    Unemployed|      Married|         No|           No|  Education|         No|      0| 1.1659832272578416|
|Y8UETC3LSG| 28|149227|    139759|        375|            56|             3|        5.84|      36|     0.8|        PhD|     Full-time|     Divorced|         No|           No|  Education|        Yes|      1| 0.9365530366488638|
|X0BVPZLDC0| 57|139699|     88143|        635|           112|             4|        5.63|      48|     0.2|   Master's|     Part-time|     Divorced|         No|           No|       Home|         No|      0| 0.6309493983493082|
|A22KI1B6SE| 47|146113|    100621|        419|            55|             1|        9.32|      12|    0.38| Bachelor's|    Unemployed|      Married|        Yes|          Yes|   Business|         No|      0|  0.688651933777282|
|1MUSHWD9TW| 55|132058|    130912|        583|            48|             4|        5.82|      60|    0.47|High School|    Unemployed|      Married|         No|          Yes|   Business|        Yes|      0| 0.9913219948810371|
|YIGLFWKNH5| 42|141412|    197764|        580|            57|             2|       10.18|      12|    0.19| Bachelor's|     Full-time|      Married|         No|           No|  Education|         No|      0| 1.3984951772126835|
|EGBQ6R80VB| 20|139321|     43049|        458|           117|             2|        7.16|      36|    0.53|   Master's| Self-employed|       Single|        Yes|           No|       Home|         No|      1| 0.3089914657517531|
|LMQOF5PTTT| 42|143244|    240591|        393|            96|             3|       23.15|      36|    0.16|High School| Self-employed|      Married|         No|          Yes|   Business|         No|      0|  1.679588673871157|
|092M7Z5Z6M| 53|149401|    245626|        534|            18|             1|       15.82|      60|    0.25| Bachelor's|    Unemployed|     Divorced|         No|          Yes|       Auto|         No|      0|  1.644071994163359|
|ZY51VR44DK| 21|142860|    238718|        318|            35|             3|       13.06|      48|    0.36|High School|     Part-time|      Married|         No|          Yes|   Business|        Yes|      0| 1.6709925801483971|
|T4DU8L04DL| 21|142986|    142571|        674|            69|             2|       19.35|      60|    0.56| Bachelor's| Self-employed|     Divorced|        Yes|          Yes|  Education|         No|      0| 0.9970976179486104|
|5KCTUT4OSE| 43|130625|     17462|        303|            22|             3|       17.91|      60|    0.65|   Master's| Self-employed|      Married|         No|          Yes|   Business|         No|      0|0.13368038277511962|
|43Z22DZB7Z| 31|143837|    193310|        658|            63|             2|       14.15|      60|    0.45| Bachelor's| Self-employed|     Divorced|        Yes|          Yes|      Other|        Yes|      0| 1.3439518343680694|
|VFVJ0MCK4P| 40|137937|    169513|        542|            25|             2|       14.38|      12|    0.57|High School|     Part-time|     Divorced|         No|          Yes|      Other|         No|      1| 1.2289160993787018|
|I7Z9O3RG38| 62|138569|    248333|        453|           101|             2|        14.1|      24|    0.44|High School|     Part-time|      Married|        Yes|          Yes|      Other|        Yes|      0| 1.7921252228131834|
|UBVMQUAJS3| 18|148123|    243038|        734|           105|             4|       10.29|      60|    0.71|High School| Self-employed|     Divorced|        Yes|           No|       Home|         No|      0|  1.640785023257698|
|WRIDPTL1IH| 41|145047|     34875|        811|            58|             2|       21.59|      36|    0.83|   Master's|     Full-time|     Divorced|        Yes|          Yes|  Education|         No|      0|  0.240439305880163|
|SZSNPTKVFY| 61|137295|     81022|        447|            10|             1|        8.14|      12|    0.24| Bachelor's|    Unemployed|       Single|         No|          Yes|  Education|        Yes|      0| 0.5901307403765614|
|OWLIUEFU4I| 52|132499|     84549|        315|            48|             1|       21.42|      12|    0.47|        PhD| Self-employed|     Divorced|         No|          Yes|      Other|        Yes|      0| 0.6381104763054816|
+----------+---+------+----------+-----------+--------------+--------------+------------+--------+--------+-----------+--------------+-------------+-----------+-------------+-----------+-----------+-------+-------------------+
only showing top 20 rows

In [50]:
add_col.filter("Income>=130000").select(["LoanID","Age","Income"]).show()

+----------+---+------+
|    LoanID|Age|Income|
+----------+---+------+
|CM9L1GTT2P| 40|132784|
|IA35XVH6ZO| 28|140466|
|Y8UETC3LSG| 28|149227|
|X0BVPZLDC0| 57|139699|
|A22KI1B6SE| 47|146113|
|1MUSHWD9TW| 55|132058|
|YIGLFWKNH5| 42|141412|
|EGBQ6R80VB| 20|139321|
|LMQOF5PTTT| 42|143244|
|092M7Z5Z6M| 53|149401|
|ZY51VR44DK| 21|142860|
|T4DU8L04DL| 21|142986|
|5KCTUT4OSE| 43|130625|
|43Z22DZB7Z| 31|143837|
|VFVJ0MCK4P| 40|137937|
|I7Z9O3RG38| 62|138569|
|UBVMQUAJS3| 18|148123|
|WRIDPTL1IH| 41|145047|
|SZSNPTKVFY| 61|137295|
|OWLIUEFU4I| 52|132499|
+----------+---+------+
only showing top 20 rows

In [51]:
add_col.filter((add_col["Income"]>=130000) & (add_col["Income"]<=140000)).select(["LoanID","Age","Income"]).show()

+----------+---+------+
|    LoanID|Age|Income|
+----------+---+------+
|CM9L1GTT2P| 40|132784|
|X0BVPZLDC0| 57|139699|
|1MUSHWD9TW| 55|132058|
|EGBQ6R80VB| 20|139321|
|5KCTUT4OSE| 43|130625|
|VFVJ0MCK4P| 40|137937|
|I7Z9O3RG38| 62|138569|
|SZSNPTKVFY| 61|137295|
|OWLIUEFU4I| 52|132499|
|XOBT7E4VYB| 52|132751|
|4066OHTN9A| 61|134076|
|05V6LGJBRI| 49|133879|
|7ECS04LJOE| 49|134889|
|4QNP5FN0KW| 37|131836|
|GY0VKFDZON| 59|135003|
|2JR521RD87| 18|139771|
|OFO0NGL3JH| 39|138971|
|V0QRIPQBZF| 33|132284|
|YNOFR9HOUA| 43|135815|
|UTY71M1X1F| 52|139946|
+----------+---+------+
only showing top 20 rows

In [52]:
add_col.filter((add_col["Income"]>=130000) | (add_col["Income"]<=140000)).select(["LoanID","Age","Income"]).show()

+----------+---+------+
|    LoanID|Age|Income|
+----------+---+------+
|I38PQUQS96| 56| 85994|
|HPSK72WA7R| 69| 50432|
|C1OZ6DPJ8Y| 46| 84208|
|V2KKSFM3UN| 32| 31713|
|EY08JDHTZP| 60| 20437|
|A9S62RQ7US| 25| 90298|
|H8GXPAOS71| 38|111188|
|0HGZQKJ36W| 56|126802|
|1R0N3LGNRJ| 36| 42053|
|CM9L1GTT2P| 40|132784|
|IA35XVH6ZO| 28|140466|
|Y8UETC3LSG| 28|149227|
|RM6QSRHIYP| 41| 23265|
|GX5YQOGROM| 53|117550|
|X0BVPZLDC0| 57|139699|
|O5DM5MPPNA| 41| 74064|
|ZDDRGVTEXS| 20|119704|
|9V0FJW7QPB| 39| 33015|
|O1IKKLC69B| 19| 40718|
|F7487UU2BF| 41|123419|
+----------+---+------+
only showing top 20 rows

In [53]:
add_col.filter(~(add_col["Income"]>=130000)).show(2)

+----------+---+------+----------+-----------+--------------+--------------+------------+--------+--------+----------+--------------+-------------+-----------+-------------+-----------+-----------+-------+-----------------+
|    LoanID|Age|Income|LoanAmount|CreditScore|MonthsEmployed|NumCreditLines|InterestRate|LoanTerm|DTIRatio| Education|EmploymentType|MaritalStatus|HasMortgage|HasDependents|LoanPurpose|HasCoSigner|Default|      loan/income|
+----------+---+------+----------+-----------+--------------+--------------+------------+--------+--------+----------+--------------+-------------+-----------+-------------+-----------+-----------+-------+-----------------+
|I38PQUQS96| 56| 85994|     50587|        520|            80|             4|       15.23|      36|    0.44|Bachelor's|     Full-time|     Divorced|        Yes|          Yes|      Other|        Yes|      0|0.588261971765472|
|HPSK72WA7R| 69| 50432|    124440|        458|            15|             1|        4.81|      60|    0.68|  Master's|     Full-time|      Married|         No|           No|      Other|        Yes|      0|2.467480964467005|
+----------+---+------+----------+-----------+--------------+--------------+------------+--------+--------+----------+--------------+-------------+-----------+-------------+-----------+-----------+-------+-----------------+
only showing top 2 rows

# GroupBy and Aggregate

In [54]:
add_col.groupBy('Education').sum("Income").show()

+-----------+-----------+
|  Education|sum(Income)|
+-----------+-----------+
|High School| 5258845173|
|        PhD| 5228319287|
| Bachelor's| 5315353460|
|   Master's| 5263432011|
+-----------+-----------+

In [55]:
add_col.groupBy(['Education','MaritalStatus']).sum("Income").show()

+-----------+-------------+-----------+
|  Education|MaritalStatus|sum(Income)|
+-----------+-------------+-----------+
|High School|     Divorced| 1772581858|
| Bachelor's|     Divorced| 1732725842|
|        PhD|       Single| 1735180940|
| Bachelor's|       Single| 1791622030|
|        PhD|      Married| 1735158102|
|        PhD|     Divorced| 1757980245|
|High School|       Single| 1746604010|
|   Master's|      Married| 1767681678|
|   Master's|       Single| 1744536046|
|High School|      Married| 1739659305|
| Bachelor's|      Married| 1791005588|
|   Master's|     Divorced| 1751214287|
+-----------+-------------+-----------+

In [56]:
add_col.groupBy('Education').mean("Income").show()

+-----------+-----------------+
|  Education|      avg(Income)|
+-----------+-----------------+
|High School|82294.18294915732|
|        PhD|82287.78958716968|
| Bachelor's|82580.14262188111|
|   Master's|82835.20893596261|
+-----------+-----------------+

In [57]:
add_col.groupBy('Education').count().show()

+-----------+-----+
|  Education|count|
+-----------+-----+
|High School|63903|
|        PhD|63537|
| Bachelor's|64366|
|   Master's|63541|
+-----------+-----+

In [58]:
add_col.groupBy(['Education','MaritalStatus']).count().show()

+-----------+-------------+-----+
|  Education|MaritalStatus|count|
+-----------+-------------+-----+
|High School|     Divorced|21477|
| Bachelor's|     Divorced|21070|
|        PhD|       Single|21058|
| Bachelor's|       Single|21581|
|        PhD|      Married|21124|
|        PhD|     Divorced|21355|
|High School|       Single|21247|
|   Master's|      Married|21284|
|   Master's|       Single|21126|
|High School|      Married|21179|
| Bachelor's|      Married|21715|
|   Master's|     Divorced|21131|
+-----------+-------------+-----+

In [59]:
add_col.agg({'Income':'sum'}).show()

+-----------+
|sum(Income)|
+-----------+
|21065949931|
+-----------+

In [60]:
add_col.groupBy(['Education']).max("Income").show()

+-----------+-----------+
|  Education|max(Income)|
+-----------+-----------+
|High School|     149999|
|        PhD|     149997|
| Bachelor's|     149999|
|   Master's|     149995|
+-----------+-----------+

In [62]:
add_col.printSchema()

root
 |-- LoanID: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Income: integer (nullable = true)
 |-- LoanAmount: integer (nullable = true)
 |-- CreditScore: integer (nullable = true)
 |-- MonthsEmployed: integer (nullable = true)
 |-- NumCreditLines: integer (nullable = true)
 |-- InterestRate: double (nullable = true)
 |-- LoanTerm: integer (nullable = true)
 |-- DTIRatio: double (nullable = true)
 |-- Education: string (nullable = true)
 |-- EmploymentType: string (nullable = true)
 |-- MaritalStatus: string (nullable = true)
 |-- HasMortgage: string (nullable = true)
 |-- HasDependents: string (nullable = true)
 |-- LoanPurpose: string (nullable = true)
 |-- HasCoSigner: string (nullable = true)
 |-- Default: integer (nullable = true)
 |-- loan/income: double (nullable = true)

In [63]:
add_col.dtypes

[('LoanID', 'string'),
 ('Age', 'int'),
 ('Income', 'int'),
 ('LoanAmount', 'int'),
 ('CreditScore', 'int'),
 ('MonthsEmployed', 'int'),
 ('NumCreditLines', 'int'),
 ('InterestRate', 'double'),
 ('LoanTerm', 'int'),
 ('DTIRatio', 'double'),
 ('Education', 'string'),
 ('EmploymentType', 'string'),
 ('MaritalStatus', 'string'),
 ('HasMortgage', 'string'),
 ('HasDependents', 'string'),
 ('LoanPurpose', 'string'),
 ('HasCoSigner', 'string'),
 ('Default', 'int'),
 ('loan/income', 'double')]

In [64]:
add_col.dtypes[0][1]

'string'

In [65]:
add_col.dtypes[0][1]=='double'

False

In [66]:
len(add_col.dtypes)

19

In [67]:
int_list=[]

In [68]:
model_df=add_col.select('Age','Income','LoanAmount','CreditScore','MonthsEmployed','NumCreditLines','InterestRate','LoanTerm','DTIRatio','loan/income','Default')

In [69]:
model_df.printSchema()

root
 |-- Age: integer (nullable = true)
 |-- Income: integer (nullable = true)
 |-- LoanAmount: integer (nullable = true)
 |-- CreditScore: integer (nullable = true)
 |-- MonthsEmployed: integer (nullable = true)
 |-- NumCreditLines: integer (nullable = true)
 |-- InterestRate: double (nullable = true)
 |-- LoanTerm: integer (nullable = true)
 |-- DTIRatio: double (nullable = true)
 |-- loan/income: double (nullable = true)
 |-- Default: integer (nullable = true)

In [70]:
from pyspark.ml.feature import VectorAssembler

In [71]:
featureassembler=VectorAssembler(inputCols=['Age','Income','LoanAmount','CreditScore','MonthsEmployed','NumCreditLines','InterestRate','LoanTerm','DTIRatio','loan/income'],outputCol="independentfeatures")

In [72]:
output=featureassembler.transform(model_df)

In [73]:
output.show(5)

+---+------+----------+-----------+--------------+--------------+------------+--------+--------+-------------------+-------+--------------------+
|Age|Income|LoanAmount|CreditScore|MonthsEmployed|NumCreditLines|InterestRate|LoanTerm|DTIRatio|        loan/income|Default| independentfeatures|
+---+------+----------+-----------+--------------+--------------+------------+--------+--------+-------------------+-------+--------------------+
| 56| 85994|     50587|        520|            80|             4|       15.23|      36|    0.44|  0.588261971765472|      0|[56.0,85994.0,505...|
| 69| 50432|    124440|        458|            15|             1|        4.81|      60|    0.68|  2.467480964467005|      0|[69.0,50432.0,124...|
| 46| 84208|    129188|        451|            26|             3|       21.17|      24|    0.31|  1.534153524605738|      1|[46.0,84208.0,129...|
| 32| 31713|     44799|        743|             0|             3|        7.07|      24|    0.23| 1.4126383502033866|      0|[32.0,31713.0,447...|
| 60| 20437|      9139|        633|             8|             4|        6.51|      48|    0.73|0.44717913588100017|      0|[60.0,20437.0,913...|
+---+------+----------+-----------+--------------+--------------+------------+--------+--------+-------------------+-------+--------------------+
only showing top 5 rows

In [74]:
output.columns

['Age',
 'Income',
 'LoanAmount',
 'CreditScore',
 'MonthsEmployed',
 'NumCreditLines',
 'InterestRate',
 'LoanTerm',
 'DTIRatio',
 'loan/income',
 'Default',
 'independentfeatures']

In [75]:
finalized_df=output.select("independentfeatures","Default")
finalized_df.show(5)

+--------------------+-------+
| independentfeatures|Default|
+--------------------+-------+
|[56.0,85994.0,505...|      0|
|[69.0,50432.0,124...|      0|
|[46.0,84208.0,129...|      1|
|[32.0,31713.0,447...|      0|
|[60.0,20437.0,913...|      0|
+--------------------+-------+
only showing top 5 rows

In [76]:
from pyspark.ml.classification import GBTClassifier
from pyspark.ml.evaluation import MulticlassClassificationEvaluator

In [77]:
train_data,test_data=finalized_df.randomSplit([0.7,0.3])
gbtc=GBTClassifier(featuresCol="independentfeatures",labelCol="Default",maxIter=200)

In [78]:
model = gbtc.fit(train_data)

In [79]:
test_data.show()

+--------------------+-------+
| independentfeatures|Default|
+--------------------+-------+
|[18.0,15452.0,173...|      1|
|[18.0,15540.0,906...|      1|
|[18.0,15602.0,164...|      0|
|[18.0,15620.0,190...|      0|
|[18.0,16029.0,327...|      1|
|[18.0,16441.0,170...|      0|
|[18.0,16594.0,151...|      0|
|[18.0,16635.0,735...|      0|
|[18.0,17086.0,172...|      1|
|[18.0,17864.0,215...|      0|
|[18.0,18218.0,183...|      0|
|[18.0,18583.0,321...|      0|
|[18.0,19354.0,143...|      0|
|[18.0,19645.0,932...|      0|
|[18.0,19691.0,160...|      1|
|[18.0,19736.0,970...|      1|
|[18.0,19742.0,181...|      0|
|[18.0,19748.0,110...|      0|
|[18.0,19963.0,806...|      1|
|[18.0,20386.0,234...|      1|
+--------------------+-------+
only showing top 20 rows

In [80]:
predictions = model.transform(test_data)

In [81]:
predictions.show()

+--------------------+-------+--------------------+--------------------+----------+
| independentfeatures|Default|       rawPrediction|         probability|prediction|
+--------------------+-------+--------------------+--------------------+----------+
|[18.0,15452.0,173...|      1|[-0.2099264815131...|[0.39655193532697...|       1.0|
|[18.0,15540.0,906...|      1|[0.54045173739376...|[0.74666491947420...|       0.0|
|[18.0,15602.0,164...|      0|[-0.5194351310750...|[0.26136803640892...|       1.0|
|[18.0,15620.0,190...|      0|[-0.3811618770432...|[0.31814196679778...|       1.0|
|[18.0,16029.0,327...|      1|[0.33593482767867...|[0.66192167981957...|       0.0|
|[18.0,16441.0,170...|      0|[-0.2586690779475...|[0.37347487222812...|       1.0|
|[18.0,16594.0,151...|      0|[0.00484651010693...|[0.50242323608064...|       0.0|
|[18.0,16635.0,735...|      0|[0.85040035048389...|[0.84563928213379...|       0.0|
|[18.0,17086.0,172...|      1|[-0.4356350493670...|[0.29499008961769...|       1.0|
|[18.0,17864.0,215...|      0|[-0.0340736762939...|[0.48296975213639...|       1.0|
|[18.0,18218.0,183...|      0|[0.03615327939055...|[0.51806876806218...|       0.0|
|[18.0,18583.0,321...|      0|[0.78878631905791...|[0.82886046958315...|       0.0|
|[18.0,19354.0,143...|      0|[0.09318213925478...|[0.54645668763402...|       0.0|
|[18.0,19645.0,932...|      0|[0.87790645863173...|[0.85268448173501...|       0.0|
|[18.0,19691.0,160...|      1|[0.41844049152085...|[0.69780790863025...|       0.0|
|[18.0,19736.0,970...|      1|[0.35209875343469...|[0.66911775557163...|       0.0|
|[18.0,19742.0,181...|      0|[-0.8545980334314...|[0.15326801866207...|       1.0|
|[18.0,19748.0,110...|      0|[0.48834951935025...|[0.72645274266934...|       0.0|
|[18.0,19963.0,806...|      1|[0.43394771279168...|[0.70430759121929...|       0.0|
|[18.0,20386.0,234...|      1|[-0.5299237888496...|[0.25733858387449...|       1.0|
+--------------------+-------+--------------------+--------------------+----------+
only showing top 20 rows

In [82]:
evaluator = MulticlassClassificationEvaluator(labelCol="Default", predictionCol="prediction", metricName="accuracy")

In [83]:

accuracy = evaluator.evaluate(predictions)
print(f"Test Accuracy = {accuracy}")

Test Accuracy = 0.8859765971895732

In [75]:
add_col.printSchema()

root
 |-- LoanID: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Income: integer (nullable = true)
 |-- LoanAmount: integer (nullable = true)
 |-- CreditScore: integer (nullable = true)
 |-- MonthsEmployed: integer (nullable = true)
 |-- NumCreditLines: integer (nullable = true)
 |-- InterestRate: double (nullable = true)
 |-- LoanTerm: integer (nullable = true)
 |-- DTIRatio: double (nullable = true)
 |-- Education: string (nullable = true)
 |-- EmploymentType: string (nullable = true)
 |-- MaritalStatus: string (nullable = true)
 |-- HasMortgage: string (nullable = true)
 |-- HasDependents: string (nullable = true)
 |-- LoanPurpose: string (nullable = true)
 |-- HasCoSigner: string (nullable = true)
 |-- Default: integer (nullable = true)
 |-- loan/income: double (nullable = true)

In [76]:
add_col.describe().show()

+-------+----------+------------------+-----------------+------------------+------------------+------------------+------------------+------------------+------------------+-------------------+----------+--------------+-------------+-----------+-------------+-----------+-----------+-------------------+-------------------+
|summary|    LoanID|               Age|           Income|        LoanAmount|       CreditScore|    MonthsEmployed|    NumCreditLines|      InterestRate|          LoanTerm|           DTIRatio| Education|EmploymentType|MaritalStatus|HasMortgage|HasDependents|LoanPurpose|HasCoSigner|            Default|        loan/income|
+-------+----------+------------------+-----------------+------------------+------------------+------------------+------------------+------------------+------------------+-------------------+----------+--------------+-------------+-----------+-------------+-----------+-----------+-------------------+-------------------+
|  count|    255347|            255347|           255347|            255347|            255347|            255347|            255347|            255347|            255347|             255347|    255347|        255347|       255347|     255347|       255347|     255347|     255347|             255347|             255347|
|   mean|      null|43.498306226429136|82499.30459727351|127578.86551242035| 574.2643461642392|59.541976212761455| 2.501035845339871|13.492773480792833| 36.02589417537703|   0.50021206436731|      null|          null|         null|       null|         null|       null|       null|0.11612824901017048| 2.1774798178207546|
| stddev|      null|  14.9902584187096|38963.01372937814| 70840.70614150073|158.90386659497537| 34.64337563735202|1.1170176714339608| 6.636443064944324|16.969330034462878|0.23091661543575903|      null|          null|         null|       null|         null|       null|       null| 0.3203792764304568| 2.1783573308074926|
|    min|0003HW9UAA|                18|            15000|              5000|               300|                 0|                 1|               2.0|                12|                0.1|Bachelor's|     Full-time|     Divorced|         No|           No|       Auto|         No|                  0|0.03374928525781171|
|    max|ZZZX015LV2|                69|           149999|            249999|               849|               119|                 4|              25.0|                60|                0.9|       PhD|    Unemployed|       Single|        Yes|          Yes|      Other|        Yes|                  1| 16.532459757882133|
+-------+----------+------------------+-----------------+------------------+------------------+------------------+------------------+------------------+------------------+-------------------+----------+--------------+-------------+-----------+-------------+-----------+-----------+-------------------+-------------------+

In [77]:
model_df.describe().show()

+-------+------------------+-----------------+------------------+------------------+------------------+------------------+------------------+------------------+-------------------+-------------------+-------------------+
|summary|               Age|           Income|        LoanAmount|       CreditScore|    MonthsEmployed|    NumCreditLines|      InterestRate|          LoanTerm|           DTIRatio|        loan/income|            Default|
+-------+------------------+-----------------+------------------+------------------+------------------+------------------+------------------+------------------+-------------------+-------------------+-------------------+
|  count|            255347|           255347|            255347|            255347|            255347|            255347|            255347|            255347|             255347|             255347|             255347|
|   mean|43.498306226429136|82499.30459727351|127578.86551242035| 574.2643461642392|59.541976212761455| 2.501035845339871|13.492773480792833| 36.02589417537703|   0.50021206436731| 2.1774798178207546|0.11612824901017048|
| stddev|  14.9902584187096|38963.01372937814| 70840.70614150073|158.90386659497537| 34.64337563735202|1.1170176714339608| 6.636443064944324|16.969330034462878|0.23091661543575903| 2.1783573308074926| 0.3203792764304568|
|    min|                18|            15000|              5000|               300|                 0|                 1|               2.0|                12|                0.1|0.03374928525781171|                  0|
|    max|                69|           149999|            249999|               849|               119|                 4|              25.0|                60|                0.9| 16.532459757882133|                  1|
+-------+------------------+-----------------+------------------+------------------+------------------+------------------+------------------+------------------+-------------------+-------------------+-------------------+

In [78]:
for i in range(0,len(add_col.dtypes)):
    if add_col.dtypes[i][1]=="string":
        print(add_col.dtypes[i][0])

LoanID
Education
EmploymentType
MaritalStatus
HasMortgage
HasDependents
LoanPurpose
HasCoSigner

In [79]:
add_col.select("Education",
"EmploymentType",
"MaritalStatus",
"HasMortgage",
"HasDependents",
"LoanPurpose",
"HasCoSigner").show()

+-----------+--------------+-------------+-----------+-------------+-----------+-----------+
|  Education|EmploymentType|MaritalStatus|HasMortgage|HasDependents|LoanPurpose|HasCoSigner|
+-----------+--------------+-------------+-----------+-------------+-----------+-----------+
| Bachelor's|     Full-time|     Divorced|        Yes|          Yes|      Other|        Yes|
|   Master's|     Full-time|      Married|         No|           No|      Other|        Yes|
|   Master's|    Unemployed|     Divorced|        Yes|          Yes|       Auto|         No|
|High School|     Full-time|      Married|         No|           No|   Business|         No|
| Bachelor's|    Unemployed|     Divorced|         No|          Yes|       Auto|         No|
|High School|    Unemployed|       Single|        Yes|           No|   Business|        Yes|
| Bachelor's|    Unemployed|       Single|        Yes|           No|       Home|        Yes|
|        PhD|     Full-time|      Married|         No|           No|       Home|        Yes|
| Bachelor's| Self-employed|     Divorced|        Yes|           No|  Education|         No|
|High School| Self-employed|      Married|        Yes|           No|      Other|        Yes|
|High School|    Unemployed|      Married|         No|           No|  Education|         No|
|        PhD|     Full-time|     Divorced|         No|           No|  Education|        Yes|
|   Master's|     Full-time|     Divorced|        Yes|           No|       Auto|        Yes|
|High School|    Unemployed|       Single|         No|           No|       Auto|        Yes|
|   Master's|     Part-time|     Divorced|         No|           No|       Home|         No|
|   Master's|    Unemployed|      Married|        Yes|           No|       Auto|         No|
|        PhD|    Unemployed|       Single|        Yes|           No|       Home|         No|
|   Master's| Self-employed|       Single|        Yes|           No|      Other|         No|
| Bachelor's| Self-employed|     Divorced|        Yes|           No|  Education|         No|
|High School| Self-employed|       Single|        Yes|           No|      Other|        Yes|
+-----------+--------------+-------------+-----------+-------------+-----------+-----------+
only showing top 20 rows

In [80]:
from pyspark.ml.feature import OneHotEncoder
from pyspark.ml import Pipeline

In [81]:
from pyspark.sql import SparkSession
from pyspark.ml.feature import StringIndexer, OneHotEncoder, VectorAssembler
from pyspark.ml import Pipeline

In [82]:
# StringIndexer ve OneHotEncoder
indexer = StringIndexer(inputCols=["Education", "EmploymentType", "MaritalStatus", "HasMortgage", "HasDependents", "LoanPurpose", "HasCoSigner"], 
                        outputCols=["Education_index", "EmploymentType_index", "MaritalStatus_index", "HasMortgage_index", "HasDependents_index", "LoanPurpose_index", "HasCoSigner_index"])

encoder = OneHotEncoder(inputCols=["Education_index", "EmploymentType_index", "MaritalStatus_index", "HasMortgage_index", "HasDependents_index", "LoanPurpose_index", "HasCoSigner_index"], 
                        outputCols=["Education_vec", "EmploymentType_vec", "MaritalStatus_vec", "HasMortgage_vec", "HasDependents_vec", "LoanPurpose_vec", "HasCoSigner_vec"])

# Pipeline ile index ve encode işlemlerini birleştirme
pipeline = Pipeline(stages=[indexer, encoder])
model = pipeline.fit(add_col)
data_transformed = model.transform(add_col)

In [83]:
data_transformed.show(3)

+----------+---+------+----------+-----------+--------------+--------------+------------+--------+--------+----------+--------------+-------------+-----------+-------------+-----------+-----------+-------+-----------------+---------------+--------------------+-------------------+-----------------+-------------------+-----------------+-----------------+-------------+------------------+-----------------+---------------+-----------------+---------------+---------------+
|    LoanID|Age|Income|LoanAmount|CreditScore|MonthsEmployed|NumCreditLines|InterestRate|LoanTerm|DTIRatio| Education|EmploymentType|MaritalStatus|HasMortgage|HasDependents|LoanPurpose|HasCoSigner|Default|      loan/income|Education_index|EmploymentType_index|MaritalStatus_index|HasMortgage_index|HasDependents_index|LoanPurpose_index|HasCoSigner_index|Education_vec|EmploymentType_vec|MaritalStatus_vec|HasMortgage_vec|HasDependents_vec|LoanPurpose_vec|HasCoSigner_vec|
+----------+---+------+----------+-----------+--------------+--------------+------------+--------+--------+----------+--------------+-------------+-----------+-------------+-----------+-----------+-------+-----------------+---------------+--------------------+-------------------+-----------------+-------------------+-----------------+-----------------+-------------+------------------+-----------------+---------------+-----------------+---------------+---------------+
|I38PQUQS96| 56| 85994|     50587|        520|            80|             4|       15.23|      36|    0.44|Bachelor's|     Full-time|     Divorced|        Yes|          Yes|      Other|        Yes|      0|0.588261971765472|            0.0|                 3.0|                1.0|              0.0|                0.0|              3.0|              0.0|(3,[0],[1.0])|         (3,[],[])|    (2,[1],[1.0])|  (1,[0],[1.0])|    (1,[0],[1.0])|  (4,[3],[1.0])|  (1,[0],[1.0])|
|HPSK72WA7R| 69| 50432|    124440|        458|            15|             1|        4.81|      60|    0.68|  Master's|     Full-time|      Married|         No|           No|      Other|        Yes|      0|2.467480964467005|            2.0|                 3.0|                0.0|              1.0|                1.0|              3.0|              0.0|(3,[2],[1.0])|         (3,[],[])|    (2,[0],[1.0])|      (1,[],[])|        (1,[],[])|  (4,[3],[1.0])|  (1,[0],[1.0])|
|C1OZ6DPJ8Y| 46| 84208|    129188|        451|            26|             3|       21.17|      24|    0.31|  Master's|    Unemployed|     Divorced|        Yes|          Yes|       Auto|         No|      1|1.534153524605738|            2.0|                 1.0|                1.0|              0.0|                0.0|              4.0|              1.0|(3,[2],[1.0])|     (3,[1],[1.0])|    (2,[1],[1.0])|  (1,[0],[1.0])|    (1,[0],[1.0])|      (4,[],[])|      (1,[],[])|
+----------+---+------+----------+-----------+--------------+--------------+------------+--------+--------+----------+--------------+-------------+-----------+-------------+-----------+-----------+-------+-----------------+---------------+--------------------+-------------------+-----------------+-------------------+-----------------+-----------------+-------------+------------------+-----------------+---------------+-----------------+---------------+---------------+
only showing top 3 rows

In [84]:
data_transformed.printSchema()

root
 |-- LoanID: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Income: integer (nullable = true)
 |-- LoanAmount: integer (nullable = true)
 |-- CreditScore: integer (nullable = true)
 |-- MonthsEmployed: integer (nullable = true)
 |-- NumCreditLines: integer (nullable = true)
 |-- InterestRate: double (nullable = true)
 |-- LoanTerm: integer (nullable = true)
 |-- DTIRatio: double (nullable = true)
 |-- Education: string (nullable = true)
 |-- EmploymentType: string (nullable = true)
 |-- MaritalStatus: string (nullable = true)
 |-- HasMortgage: string (nullable = true)
 |-- HasDependents: string (nullable = true)
 |-- LoanPurpose: string (nullable = true)
 |-- HasCoSigner: string (nullable = true)
 |-- Default: integer (nullable = true)
 |-- loan/income: double (nullable = true)
 |-- Education_index: double (nullable = false)
 |-- EmploymentType_index: double (nullable = false)
 |-- MaritalStatus_index: double (nullable = false)
 |-- HasMortgage_index: double (nullable = false)
 |-- HasDependents_index: double (nullable = false)
 |-- LoanPurpose_index: double (nullable = false)
 |-- HasCoSigner_index: double (nullable = false)
 |-- Education_vec: vector (nullable = true)
 |-- EmploymentType_vec: vector (nullable = true)
 |-- MaritalStatus_vec: vector (nullable = true)
 |-- HasMortgage_vec: vector (nullable = true)
 |-- HasDependents_vec: vector (nullable = true)
 |-- LoanPurpose_vec: vector (nullable = true)
 |-- HasCoSigner_vec: vector (nullable = true)

In [85]:
data_transformed.select("Education","Education_index","Education_vec").show()

+-----------+---------------+-------------+
|  Education|Education_index|Education_vec|
+-----------+---------------+-------------+
| Bachelor's|            0.0|(3,[0],[1.0])|
|   Master's|            2.0|(3,[2],[1.0])|
|   Master's|            2.0|(3,[2],[1.0])|
|High School|            1.0|(3,[1],[1.0])|
| Bachelor's|            0.0|(3,[0],[1.0])|
|High School|            1.0|(3,[1],[1.0])|
| Bachelor's|            0.0|(3,[0],[1.0])|
|        PhD|            3.0|    (3,[],[])|
| Bachelor's|            0.0|(3,[0],[1.0])|
|High School|            1.0|(3,[1],[1.0])|
|High School|            1.0|(3,[1],[1.0])|
|        PhD|            3.0|    (3,[],[])|
|   Master's|            2.0|(3,[2],[1.0])|
|High School|            1.0|(3,[1],[1.0])|
|   Master's|            2.0|(3,[2],[1.0])|
|   Master's|            2.0|(3,[2],[1.0])|
|        PhD|            3.0|    (3,[],[])|
|   Master's|            2.0|(3,[2],[1.0])|
| Bachelor's|            0.0|(3,[0],[1.0])|
|High School|            1.0|(3,[1],[1.0])|
+-----------+---------------+-------------+
only showing top 20 rows

In [88]:
data_transformed.drop("Education_index", "EmploymentType_index", "MaritalStatus_index", "HasMortgage_index", "HasDependents_index", "LoanPurpose_index", "HasCoSigner_index").show(3)

+----------+---+------+----------+-----------+--------------+--------------+------------+--------+--------+----------+--------------+-------------+-----------+-------------+-----------+-----------+-------+-----------------+-------------+------------------+-----------------+---------------+-----------------+---------------+---------------+
|    LoanID|Age|Income|LoanAmount|CreditScore|MonthsEmployed|NumCreditLines|InterestRate|LoanTerm|DTIRatio| Education|EmploymentType|MaritalStatus|HasMortgage|HasDependents|LoanPurpose|HasCoSigner|Default|      loan/income|Education_vec|EmploymentType_vec|MaritalStatus_vec|HasMortgage_vec|HasDependents_vec|LoanPurpose_vec|HasCoSigner_vec|
+----------+---+------+----------+-----------+--------------+--------------+------------+--------+--------+----------+--------------+-------------+-----------+-------------+-----------+-----------+-------+-----------------+-------------+------------------+-----------------+---------------+-----------------+---------------+---------------+
|I38PQUQS96| 56| 85994|     50587|        520|            80|             4|       15.23|      36|    0.44|Bachelor's|     Full-time|     Divorced|        Yes|          Yes|      Other|        Yes|      0|0.588261971765472|(3,[0],[1.0])|         (3,[],[])|    (2,[1],[1.0])|  (1,[0],[1.0])|    (1,[0],[1.0])|  (4,[3],[1.0])|  (1,[0],[1.0])|
|HPSK72WA7R| 69| 50432|    124440|        458|            15|             1|        4.81|      60|    0.68|  Master's|     Full-time|      Married|         No|           No|      Other|        Yes|      0|2.467480964467005|(3,[2],[1.0])|         (3,[],[])|    (2,[0],[1.0])|      (1,[],[])|        (1,[],[])|  (4,[3],[1.0])|  (1,[0],[1.0])|
|C1OZ6DPJ8Y| 46| 84208|    129188|        451|            26|             3|       21.17|      24|    0.31|  Master's|    Unemployed|     Divorced|        Yes|          Yes|       Auto|         No|      1|1.534153524605738|(3,[2],[1.0])|     (3,[1],[1.0])|    (2,[1],[1.0])|  (1,[0],[1.0])|    (1,[0],[1.0])|      (4,[],[])|      (1,[],[])|
+----------+---+------+----------+-----------+--------------+--------------+------------+--------+--------+----------+--------------+-------------+-----------+-------------+-----------+-----------+-------+-----------------+-------------+------------------+-----------------+---------------+-----------------+---------------+---------------+
only showing top 3 rows

In [91]:
data_transformed.drop("Education_index", "EmploymentType_index", "MaritalStatus_index", "HasMortgage_index", "HasDependents_index", "LoanPurpose_index", "HasCoSigner_index","Education","EmploymentType","MaritalStatus","HasMortgage","HasDependents","LoanPurpose","HasCoSigner","LoanID").printSchema()

root
 |-- Age: integer (nullable = true)
 |-- Income: integer (nullable = true)
 |-- LoanAmount: integer (nullable = true)
 |-- CreditScore: integer (nullable = true)
 |-- MonthsEmployed: integer (nullable = true)
 |-- NumCreditLines: integer (nullable = true)
 |-- InterestRate: double (nullable = true)
 |-- LoanTerm: integer (nullable = true)
 |-- DTIRatio: double (nullable = true)
 |-- Default: integer (nullable = true)
 |-- loan/income: double (nullable = true)
 |-- Education_vec: vector (nullable = true)
 |-- EmploymentType_vec: vector (nullable = true)
 |-- MaritalStatus_vec: vector (nullable = true)
 |-- HasMortgage_vec: vector (nullable = true)
 |-- HasDependents_vec: vector (nullable = true)
 |-- LoanPurpose_vec: vector (nullable = true)
 |-- HasCoSigner_vec: vector (nullable = true)

In [93]:
data_transformed2=data_transformed.drop("Education_index", "EmploymentType_index", "MaritalStatus_index", 
                      "HasMortgage_index", "HasDependents_index", "LoanPurpose_index",
                      "HasCoSigner_index","Education","EmploymentType","MaritalStatus",
                      "HasMortgage","HasDependents","LoanPurpose","HasCoSigner","LoanID")

In [95]:
data_transformed2.show(5)

+---+------+----------+-----------+--------------+--------------+------------+--------+--------+-------+-------------------+-------------+------------------+-----------------+---------------+-----------------+---------------+---------------+
|Age|Income|LoanAmount|CreditScore|MonthsEmployed|NumCreditLines|InterestRate|LoanTerm|DTIRatio|Default|        loan/income|Education_vec|EmploymentType_vec|MaritalStatus_vec|HasMortgage_vec|HasDependents_vec|LoanPurpose_vec|HasCoSigner_vec|
+---+------+----------+-----------+--------------+--------------+------------+--------+--------+-------+-------------------+-------------+------------------+-----------------+---------------+-----------------+---------------+---------------+
| 56| 85994|     50587|        520|            80|             4|       15.23|      36|    0.44|      0|  0.588261971765472|(3,[0],[1.0])|         (3,[],[])|    (2,[1],[1.0])|  (1,[0],[1.0])|    (1,[0],[1.0])|  (4,[3],[1.0])|  (1,[0],[1.0])|
| 69| 50432|    124440|        458|            15|             1|        4.81|      60|    0.68|      0|  2.467480964467005|(3,[2],[1.0])|         (3,[],[])|    (2,[0],[1.0])|      (1,[],[])|        (1,[],[])|  (4,[3],[1.0])|  (1,[0],[1.0])|
| 46| 84208|    129188|        451|            26|             3|       21.17|      24|    0.31|      1|  1.534153524605738|(3,[2],[1.0])|     (3,[1],[1.0])|    (2,[1],[1.0])|  (1,[0],[1.0])|    (1,[0],[1.0])|      (4,[],[])|      (1,[],[])|
| 32| 31713|     44799|        743|             0|             3|        7.07|      24|    0.23|      0| 1.4126383502033866|(3,[1],[1.0])|         (3,[],[])|    (2,[0],[1.0])|      (1,[],[])|        (1,[],[])|  (4,[0],[1.0])|      (1,[],[])|
| 60| 20437|      9139|        633|             8|             4|        6.51|      48|    0.73|      0|0.44717913588100017|(3,[0],[1.0])|     (3,[1],[1.0])|    (2,[1],[1.0])|      (1,[],[])|    (1,[0],[1.0])|      (4,[],[])|      (1,[],[])|
+---+------+----------+-----------+--------------+--------------+------------+--------+--------+-------+-------------------+-------------+------------------+-----------------+---------------+-----------------+---------------+---------------+
only showing top 5 rows

In [124]:
for i in range(0,len(data_transformed2.dtypes)):
    if data_transformed2.dtypes[i][1]!="vector":
        print(data_transformed2.dtypes[i][0])

Age
Income
LoanAmount
CreditScore
MonthsEmployed
NumCreditLines
InterestRate
LoanTerm
DTIRatio
Default
loan/income

In [ ]:
["Age",
"Income",
"LoanAmount",
"CreditScore",
"MonthsEmployed",
"NumCreditLines",
"InterestRate",
"LoanTerm",
"DTIRatio",
"loan/income"]

In [125]:
from pyspark.ml.feature import StringIndexer, OneHotEncoder, VectorAssembler, StandardScaler
from pyspark.ml import Pipeline

In [145]:
# VectorAssembler ile sayısal sütunları birleştirme
numeric_assembler = VectorAssembler(inputCols=["Age","Income","LoanAmount","CreditScore","MonthsEmployed","NumCreditLines","InterestRate","LoanTerm","DTIRatio","loan/income"], 
                                    outputCol="numeric_features")
data_numeric_assembled = numeric_assembler.transform(data_transformed2)

# StandardScaler ile ölçekleme
scaler = StandardScaler(inputCol="numeric_features", outputCol="scaled_numeric_features", withMean=True, withStd=True)
scaler_model = scaler.fit(data_numeric_assembled)
data_scaled = scaler_model.transform(data_numeric_assembled)

data_scaled.show(3)

+---+------+----------+-----------+--------------+--------------+------------+--------+--------+-------+-----------------+-------------+------------------+-----------------+---------------+-----------------+---------------+---------------+--------------------+-----------------------+
|Age|Income|LoanAmount|CreditScore|MonthsEmployed|NumCreditLines|InterestRate|LoanTerm|DTIRatio|Default|      loan/income|Education_vec|EmploymentType_vec|MaritalStatus_vec|HasMortgage_vec|HasDependents_vec|LoanPurpose_vec|HasCoSigner_vec|    numeric_features|scaled_numeric_features|
+---+------+----------+-----------+--------------+--------------+------------+--------+--------+-------+-----------------+-------------+------------------+-----------------+---------------+-----------------+---------------+---------------+--------------------+-----------------------+
| 56| 85994|     50587|        520|            80|             4|       15.23|      36|    0.44|      0|0.588261971765472|(3,[0],[1.0])|         (3,[],[])|    (2,[1],[1.0])|  (1,[0],[1.0])|    (1,[0],[1.0])|  (4,[3],[1.0])|  (1,[0],[1.0])|[56.0,85994.0,505...|   [0.83398787561709...|
| 69| 50432|    124440|        458|            15|             1|        4.81|      60|    0.68|      0|2.467480964467005|(3,[2],[1.0])|         (3,[],[])|    (2,[0],[1.0])|      (1,[],[])|        (1,[],[])|  (4,[3],[1.0])|  (1,[0],[1.0])|[69.0,50432.0,124...|   [1.70121775497490...|
| 46| 84208|    129188|        451|            26|             3|       21.17|      24|    0.31|      1|1.534153524605738|(3,[2],[1.0])|     (3,[1],[1.0])|    (2,[1],[1.0])|  (1,[0],[1.0])|    (1,[0],[1.0])|      (4,[],[])|      (1,[],[])|[46.0,84208.0,129...|   [0.16688796841877...|
+---+------+----------+-----------+--------------+--------------+------------+--------+--------+-------+-----------------+-------------+------------------+-----------------+---------------+-----------------+---------------+---------------+--------------------+-----------------------+
only showing top 3 rows

In [146]:
data_scaled.printSchema()

root
 |-- Age: integer (nullable = true)
 |-- Income: integer (nullable = true)
 |-- LoanAmount: integer (nullable = true)
 |-- CreditScore: integer (nullable = true)
 |-- MonthsEmployed: integer (nullable = true)
 |-- NumCreditLines: integer (nullable = true)
 |-- InterestRate: double (nullable = true)
 |-- LoanTerm: integer (nullable = true)
 |-- DTIRatio: double (nullable = true)
 |-- Default: integer (nullable = true)
 |-- loan/income: double (nullable = true)
 |-- Education_vec: vector (nullable = true)
 |-- EmploymentType_vec: vector (nullable = true)
 |-- MaritalStatus_vec: vector (nullable = true)
 |-- HasMortgage_vec: vector (nullable = true)
 |-- HasDependents_vec: vector (nullable = true)
 |-- LoanPurpose_vec: vector (nullable = true)
 |-- HasCoSigner_vec: vector (nullable = true)
 |-- numeric_features: vector (nullable = true)
 |-- scaled_numeric_features: vector (nullable = true)

In [147]:
# VectorAssembler ile tüm öznitelikleri birleştirme
assembler = VectorAssembler(
    inputCols=["scaled_numeric_features", "Education_vec", "EmploymentType_vec", "MaritalStatus_vec", "HasMortgage_vec", "HasDependents_vec", "LoanPurpose_vec", "HasCoSigner_vec"],
    outputCol="final_features"
)
data_final = assembler.transform(data_scaled)

In [149]:
# Sonuçları gösterme
data_final.select("final_features").show(truncate=True)

+--------------------+
|      final_features|
+--------------------+
|[0.83398787561709...|
|(25,[0,1,2,3,4,5,...|
|(25,[0,1,2,3,4,5,...|
|(25,[0,1,2,3,4,5,...|
|(25,[0,1,2,3,4,5,...|
|(25,[0,1,2,3,4,5,...|
|(25,[0,1,2,3,4,5,...|
|(25,[0,1,2,3,4,5,...|
|(25,[0,1,2,3,4,5,...|
|[-0.2333719759002...|
|(25,[0,1,2,3,4,5,...|
|(25,[0,1,2,3,4,5,...|
|(25,[0,1,2,3,4,5,...|
|(25,[0,1,2,3,4,5,...|
|(25,[0,1,2,3,4,5,...|
|(25,[0,1,2,3,4,5,...|
|(25,[0,1,2,3,4,5,...|
|(25,[0,1,2,3,4,5,...|
|(25,[0,1,2,3,4,5,...|
|(25,[0,1,2,3,4,5,...|
+--------------------+
only showing top 20 rows

In [150]:
data_final.show(5)

+---+------+----------+-----------+--------------+--------------+------------+--------+--------+-------+-------------------+-------------+------------------+-----------------+---------------+-----------------+---------------+---------------+--------------------+-----------------------+--------------------+
|Age|Income|LoanAmount|CreditScore|MonthsEmployed|NumCreditLines|InterestRate|LoanTerm|DTIRatio|Default|        loan/income|Education_vec|EmploymentType_vec|MaritalStatus_vec|HasMortgage_vec|HasDependents_vec|LoanPurpose_vec|HasCoSigner_vec|    numeric_features|scaled_numeric_features|      final_features|
+---+------+----------+-----------+--------------+--------------+------------+--------+--------+-------+-------------------+-------------+------------------+-----------------+---------------+-----------------+---------------+---------------+--------------------+-----------------------+--------------------+
| 56| 85994|     50587|        520|            80|             4|       15.23|      36|    0.44|      0|  0.588261971765472|(3,[0],[1.0])|         (3,[],[])|    (2,[1],[1.0])|  (1,[0],[1.0])|    (1,[0],[1.0])|  (4,[3],[1.0])|  (1,[0],[1.0])|[56.0,85994.0,505...|   [0.83398787561709...|[0.83398787561709...|
| 69| 50432|    124440|        458|            15|             1|        4.81|      60|    0.68|      0|  2.467480964467005|(3,[2],[1.0])|         (3,[],[])|    (2,[0],[1.0])|      (1,[],[])|        (1,[],[])|  (4,[3],[1.0])|  (1,[0],[1.0])|[69.0,50432.0,124...|   [1.70121775497490...|(25,[0,1,2,3,4,5,...|
| 46| 84208|    129188|        451|            26|             3|       21.17|      24|    0.31|      1|  1.534153524605738|(3,[2],[1.0])|     (3,[1],[1.0])|    (2,[1],[1.0])|  (1,[0],[1.0])|    (1,[0],[1.0])|      (4,[],[])|      (1,[],[])|[46.0,84208.0,129...|   [0.16688796841877...|(25,[0,1,2,3,4,5,...|
| 32| 31713|     44799|        743|             0|             3|        7.07|      24|    0.23|      0| 1.4126383502033866|(3,[1],[1.0])|         (3,[],[])|    (2,[0],[1.0])|      (1,[],[])|        (1,[],[])|  (4,[0],[1.0])|      (1,[],[])|[32.0,31713.0,447...|   [-0.7670519016588...|(25,[0,1,2,3,4,5,...|
| 60| 20437|      9139|        633|             8|             4|        6.51|      48|    0.73|      0|0.44717913588100017|(3,[0],[1.0])|     (3,[1],[1.0])|    (2,[1],[1.0])|      (1,[],[])|    (1,[0],[1.0])|      (4,[],[])|      (1,[],[])|[60.0,20437.0,913...|   [1.10082783849641...|(25,[0,1,2,3,4,5,...|
+---+------+----------+-----------+--------------+--------------+------------+--------+--------+-------+-------------------+-------------+------------------+-----------------+---------------+-----------------+---------------+---------------+--------------------+-----------------------+--------------------+
only showing top 5 rows

In [151]:
data_final.printSchema()

root
 |-- Age: integer (nullable = true)
 |-- Income: integer (nullable = true)
 |-- LoanAmount: integer (nullable = true)
 |-- CreditScore: integer (nullable = true)
 |-- MonthsEmployed: integer (nullable = true)
 |-- NumCreditLines: integer (nullable = true)
 |-- InterestRate: double (nullable = true)
 |-- LoanTerm: integer (nullable = true)
 |-- DTIRatio: double (nullable = true)
 |-- Default: integer (nullable = true)
 |-- loan/income: double (nullable = true)
 |-- Education_vec: vector (nullable = true)
 |-- EmploymentType_vec: vector (nullable = true)
 |-- MaritalStatus_vec: vector (nullable = true)
 |-- HasMortgage_vec: vector (nullable = true)
 |-- HasDependents_vec: vector (nullable = true)
 |-- LoanPurpose_vec: vector (nullable = true)
 |-- HasCoSigner_vec: vector (nullable = true)
 |-- numeric_features: vector (nullable = true)
 |-- scaled_numeric_features: vector (nullable = true)
 |-- final_features: vector (nullable = true)

In [152]:
data_final.select("final_features","Default").show(5)

+--------------------+-------+
|      final_features|Default|
+--------------------+-------+
|[0.83398787561709...|      0|
|(25,[0,1,2,3,4,5,...|      0|
|(25,[0,1,2,3,4,5,...|      1|
|(25,[0,1,2,3,4,5,...|      0|
|(25,[0,1,2,3,4,5,...|      0|
+--------------------+-------+
only showing top 5 rows

In [153]:
data_final2=data_final.select("final_features","Default")

In [154]:
data_final2.printSchema()

root
 |-- final_features: vector (nullable = true)
 |-- Default: integer (nullable = true)

In [155]:
from pyspark.sql import SparkSession
from pyspark.ml.classification import LogisticRegression
from pyspark.ml.evaluation import BinaryClassificationEvaluator
from pyspark.ml.feature import VectorAssembler, StandardScaler, StringIndexer, OneHotEncoder
from pyspark.ml import Pipeline

In [156]:

# Veriyi eğitim ve test setlerine ayırma
(training_data, test_data) = data_final2.randomSplit([0.7, 0.3], seed=1234)

In [157]:
# Lojistik Regresyon modelini tanımlama
lr = LogisticRegression(featuresCol="final_features", labelCol="Default")

# Modeli eğitme
lr_model = lr.fit(training_data)

In [158]:
# Tahmin yapma
predictions = lr_model.transform(test_data)

# Modeli değerlendirme
evaluator = BinaryClassificationEvaluator(labelCol="Default", rawPredictionCol="rawPrediction", metricName="areaUnderROC")
roc_auc = evaluator.evaluate(predictions)

print(f"ROC AUC: {roc_auc}")

# Sonuçları gösterme
predictions.select("final_features", "rawPrediction", "probability", "prediction").show(truncate=False)

ROC AUC: 0.7569113665120186
+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+------------------------------------------+-----------------------------------------+----------+
|final_features                                                                                                                                                                                                                              |rawPrediction                             |probability                              |prediction|
+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+------------------------------------------+-----------------------------------------+----------+
|(25,[0,1,2,3,4,5,6,7,8,9],[-1.7009917717365226,-1.7164818168787148,0.8936547634226958,0.5835959553591674,-0.6218209344915901,0.4466931611024537,1.61038472184901,-0.7086840877603067,-0.08752970993086527,4.610416590893878])               |[-1.723269575089713,1.723269575089713]    |[0.15145050093037316,0.8485494990696268] |1.0       |
|(25,[0,1,2,3,4,5,6,7,8,9],[-1.5675717902968587,-1.4118595902091498,0.2465550590742535,-0.5176988321745527,0.7925908859075924,-0.4485478235063748,1.4084693302926081,-0.0015259397586298163,-1.603228350063454,1.4226290445583267])          |[0.4371316451928986,-0.4371316451928986]  |[0.607575347381716,0.39242465261828396]  |0.0       |
|(25,[0,1,2,3,4,5,6,7,8,9],[-1.100601855258035,0.7601489866374208,-0.4397735032481492,0.7535100082929413,1.485364022429641,1.3419341457112823,0.34163278386027646,-0.7086840877603067,-1.6465340254958138,-0.6047863373269045])              |[2.371526656057358,-2.371526656057358]    |[0.9146301401702143,0.08536985982978573] |0.0       |
|(25,[0,1,2,3,4,5,6,7,8,9],[0.2335979591386037,-0.40367269088874774,0.3022998450185392,0.33816454556593833,-1.718711733984834,-0.4485478235063748,-0.324386642019795,1.412790356244724,-1.6465340254958138,0.024760865681102754])            |[2.207239239257004,-2.207239239257004]    |[0.9008977159413026,0.09910228405869737] |0.0       |
|(25,[0,1,2,3,4,5,6,7,8,9],[1.100827838496419,-0.22149992444670777,-1.0735757681538167,0.07385379655784549,1.081246359458446,-1.3437888081152032,-0.00795207316274753,0.7056322082430471,0.6053610969868898,-0.6793870221486592])            |[3.7924427547533117,-3.7924427547533117]  |[0.9779563995002623,0.022043600499737748]|0.0       |
|(25,[0,1,2,3,4,5,6,7,8,9],[1.100827838496419,1.2254107378435775,0.5209029736924332,1.4394593330996586,-0.18883772416530978,-0.4485478235063748,-0.7493130630564018,-0.7086840877603067,-1.5166169991987346,-0.4198709842804882])            |[3.797743227089887,-3.797743227089887]    |[0.9780703763724307,0.02192962362756934] |0.0       |
|(25,[0,1,2,3,4,5,6,7,8,9],[1.1675378292162508,-0.5066164731089537,0.27866936346099697,-0.6246817543921142,0.27301103351605593,-1.3437888081152032,1.3481960790817422,-1.4158422357619835,-1.213477271172217,0.07798315866892455])           |[2.605565305734319,-2.605565305734319]    |[0.9312188955465098,0.06878110445349017] |0.0       |
|(25,[0,1,2,3,4,5,6,7,8,9],[1.5010877828154106,0.5591378416988385,-1.2091193069325026,0.5584235030726824,0.1575488440957145,1.3419341457112823,0.2331409316807172,-0.7086840877603067,-9.183590661458297E-4,-0.8150481467335454])            |[3.5049157136459343,-3.5049157136459343]  |[0.9708273130137404,0.029172686986259633]|0.0       |
|(25,[0,1,2,3,4,5,6,7,8,9],[1.5010877828154106,1.053452786989581,-1.6134772186504218,-0.0457153518029584,-0.852745313332273,-1.3437888081152032,1.3150457909157653,-1.4158422357619835,-0.17414106079558447,-0.950255812131046])             |[2.930238517629938,-2.930238517629938]    |[0.9493211515017421,0.05067884849825788] |0.0       |
|(25,[0,1,2,3,4,5,6,7,8,9],[1.5677977735352426,-1.2464463076339247,-0.7321054283229051,-0.9078718426150707,-0.18883772416530978,-0.4485478235063748,1.4958655445483644,-1.4158422357619835,-1.0402545694427783,0.02469413603886948])         |[2.5148003231437115,-2.5148003231437115]  |[0.9251728863628158,0.0748271136371842]  |0.0       |
|(25,[0,1,2,3,4,5,6,7,8,9],[1.7012177549749063,1.109762599552815,0.6129828011714343,-0.21562940473673237,-0.5352242924263341,-0.4485478235063748,-1.0386246688685594,-0.7086840877603067,-1.603228350063454,-0.3752809653138729])            |[3.948390957511296,-3.948390957511296]    |[0.9810791928215344,0.01892080717846556] |0.0       |
|(25,[0,1,2,3,4,5,6,7,8,9,10],[-1.4341518088571947,0.08686944562952642,-0.7173963711048891,1.282131506309127,-0.7372831239119316,0.4466931611024537,-1.5147833534344024,1.412790356244724,-1.083560244875138,-0.5893153550363838,1.0])       |[2.2003953178448272,-2.2003953178448272]  |[0.9002850049363189,0.09971499506368109] |0.0       |
|(25,[0,1,2,3,4,5,6,7,8,9,10],[-0.7670519016588754,-1.4715572310578657,1.5425189899901899,-0.9078718426150707,-1.2857285236585534,1.3419341457112823,-0.809586314267268,-0.0015259397586298163,-1.6898397009281736,3.3214152775971275,1.0])  |[-0.03991170163975788,0.03991170163975788]|[0.49002339890207997,0.5099766010979201] |1.0       |
|(25,[0,1,2,3,4,5,6,7,8,9,10],[-0.5669219294993796,1.5962239429090317,0.43902914272842797,-0.2093362916651111,0.47506986500165344,1.3419341457112823,-0.16164886375045626,-0.0015259397586298163,1.1683348776075657,-0.4961596826915499,1.0])|[2.038305094654609,-2.038305094654609]    |[0.8847605692483163,0.11523943075168375] |0.0       |
|(25,[0,1,2,3,4,5,6,7,8,9,10],[-0.23337197590021988,0.15855281230642382,1.5559434750327361,-1.1721825916231636,-1.2857285236585534,-0.4485478235063748,1.5501114706381438,0.7056322082430471,0.47544407068981065,0.231457149238077,1.0])     |[0.5937087815428264,-0.5937087815428264]  |[0.6442156591961526,0.35578434080384735] |0.0       |
|(25,[0,1,2,3,4,5,6,7,8,9,10],[0.43372793129809956,0.762664192485733,-0.7610153603598505,0.8793722697253665,1.5142295697847263,-0.4485478235063748,-0.5157542146142952,-0.0015259397586298163,-1.603228350063454,-0.6982279822578885,1.0])   |[3.764010100723598,-3.764010100723598]    |[0.9773350554990983,0.02266494450090173] |0.0       |
|(25,[0,1,2,3,4,5,6,7,8,9,10],[0.5004379220179315,-0.16506178505447813,1.6250421651308062,-1.1281308001218147,-0.8238797659771877,1.3419341457112823,0.609848751748631,-1.4158422357619835,1.3415575793370047,0.4650569541421456,1.0])       |[1.3045383559393153,-1.3045383559393153]  |[0.7865977900769512,0.2134022099230488]  |0.0       |
|(25,[0,1,2,3,4,5,6,7,8,9,10],[0.8339878756170912,0.25130744430438556,-0.740066952575267,-0.8323544857556157,-1.6321150919195777,0.4466931611024537,-1.7317670577935207,1.412790356244724,1.298251903904645,-0.6257861740090416,1.0])        |[2.9538696535974243,-2.9538696535974243]  |[0.9504460607354043,0.049553939264595726]|0.0       |
|(25,[0,1,2,3,4,5,6,7,8,9,10],[1.4343777920955787,-0.0452558575042608,-0.2616838047236853,-0.5932161890340079,1.398767380364385,1.3419341457112823,-0.09082779357768839,-0.7086840877603067,0.5620554215545301,-0.3795946181254911,1.0])     |[3.473531743211827,-3.473531743211827]    |[0.9699252116648217,0.030074788335178293]|0.0       |
|(25,[0,1,2,3,4,5,6,7,8,9,10],[1.5010877828154106,-0.7541332608755124,1.0736077974104783,0.12419870113081556,0.2441454861609706,-1.3437888081152032,0.29642784545212697,1.412790356244724,0.7785837987163287,0.7603345103440253,1.0])        |[2.7425923470987956,-2.7425923470987956]  |[0.9394936275682108,0.060506372431789246]|0.0       |
+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+------------------------------------------+-----------------------------------------+----------+
only showing top 20 rows

In [159]:
from pyspark.sql import SparkSession
from pyspark.ml.classification import RandomForestClassifier
from pyspark.ml.evaluation import BinaryClassificationEvaluator
from pyspark.ml.feature import VectorAssembler, StandardScaler, StringIndexer, OneHotEncoder
from pyspark.ml import Pipeline

In [160]:
# final_features ve Default sütunlarını seçme
data_final2 = data_final.select("final_features", "Default")

# Veriyi eğitim ve test setlerine ayırma
(training_data, test_data) = data_final2.randomSplit([0.7, 0.3], seed=1234)

In [161]:
# Rastgele Orman modelini tanımlama
rf = RandomForestClassifier(featuresCol="final_features", labelCol="Default", numTrees=100)

# Modeli eğitme
rf_model = rf.fit(training_data)

In [162]:
# Tahmin yapma
predictions = rf_model.transform(test_data)

# Modeli değerlendirme
evaluator = BinaryClassificationEvaluator(labelCol="Default", rawPredictionCol="rawPrediction", metricName="areaUnderROC")
roc_auc = evaluator.evaluate(predictions)

print(f"ROC AUC: {roc_auc}")

ROC AUC: 0.7075342117826989

In [164]:
# Sonuçları gösterme
predictions.select("final_features", "rawPrediction", "probability", "prediction").show(5)

+--------------------+--------------------+--------------------+----------+
|      final_features|       rawPrediction|         probability|prediction|
+--------------------+--------------------+--------------------+----------+
|(25,[0,1,2,3,4,5,...|[68.5273419498496...|[0.68527341949849...|       0.0|
|(25,[0,1,2,3,4,5,...|[80.9205276999109...|[0.80920527699910...|       0.0|
|(25,[0,1,2,3,4,5,...|[88.7189395023582...|[0.88718939502358...|       0.0|
|(25,[0,1,2,3,4,5,...|[89.5010983051697...|[0.89501098305169...|       0.0|
|(25,[0,1,2,3,4,5,...|[89.6981326282202...|[0.89698132628220...|       0.0|
+--------------------+--------------------+--------------------+----------+
only showing top 5 rows

In [165]:
from pyspark.sql import SparkSession
from pyspark.ml.classification import GBTClassifier
from pyspark.ml.evaluation import BinaryClassificationEvaluator
from pyspark.ml.feature import VectorAssembler, StandardScaler, StringIndexer, OneHotEncoder
from pyspark.ml import Pipeline
from pyspark.ml.tuning import ParamGridBuilder, CrossValidator

In [166]:
# Veriyi eğitim ve test setlerine ayırma
(training_data, test_data) = data_final2.randomSplit([0.7, 0.3], seed=1234)

In [167]:
# GBT modelini tanımlama
gbt = GBTClassifier(featuresCol="final_features", labelCol="Default")

# Hiperparametreler için Grid Search kurma
paramGrid = ParamGridBuilder() \
    .addGrid(gbt.maxDepth, [5, 10]) \
    .addGrid(gbt.maxIter, [50, 100]) \
    .build()

In [ ]:
# Evaluator ve CrossValidator tanımlama
evaluator = BinaryClassificationEvaluator(labelCol="Default", rawPredictionCol="rawPrediction", metricName="areaUnderROC")

crossval = CrossValidator(estimator=gbt,
                          estimatorParamMaps=paramGrid,
                          evaluator=evaluator,
                          numFolds=5)

# Modeli eğitme
cv_model = crossval.fit(training_data)

In [ ]:
# Tahmin yapma
predictions = cv_model.transform(test_data)

# Modeli değerlendirme
roc_auc = evaluator.evaluate(predictions)

print(f"ROC AUC: {roc_auc}")

In [ ]:
# Sonuçları gösterme
predictions.select("final_features", "rawPrediction", "probability", "prediction").show(5)